<ul>
  <% products.each do |product| %>
    <%= link_to soin_path(product) do %>
       <li class="list_card soin">
        <div class="image">
          <% if product.photo.present? %>
            <%= image_tag product.photo %>
          <% else %>
            <%= image_tag('https://res.cloudinary.com/dgznjnwgw/image/upload/v1706693201/static%20files/image-not-available_tmxyvm.jpg') %>
          <% end %>
        </div>
        <div class="list_card_name">
          <h2><%= product.name %></h2>
          <p><span>durée:</span> à partir de <%= product.estimated_time %> min</p>
        </div>
       </li>
    <% end %>
  <% end %>
</ul>
