<h1>Edit soin</h1>
<%= simple_form_for @soin, :url => {:action =>"update"} do |f|%>
  <%= f.input :name %>
  <%= f.input :category, collection: ["visage","corps","massage"]%>
  <%= f.input :labels, as: :check_boxes, collection: ["ECOCERT", "Qualité Nature is Future", "FABRIQUÉ EN FRANCE","NATUREL","PHYTOTHÉRAPIE INNOVANTE"] %>
  <%= f.input :actions_product, as: :check_boxes, collection: ["PURIFIE", "CICATRISE", "ÉQUILIBRE"] %>
  <%= f.association :products,as: :check_boxes %>
  <%= f.input :description %>
  <%= f.input :estimated_time %>

  <%= f.input :pregnant_adapted, label:"Adapté aux femmes enceintes"%>
  <%= f.input :types_peau, collection: ["Toutes peaux","Peau claire"]%>

  <%= f.input :photo, as: :file %>

  <% @soin.photo.each do |image| %>
      <%= f.hidden_field :photo,value: image.signed_id %>
  <% end %>
  <%= f.submit "Envoyer"%>
<% end%>
