
<section class="inside categorie-chapo">
  <div id="cover-categorie">
    <%= image_tag @cover %>
  </div>
  <div class="titre-categorie">
    <h1>Nos soins</h1>
    <p><%= @intro %></p>
    <%= link_to "visage", visage_soins_path %>
    <%= link_to "corps", corps_soins_path %>
    <%= link_to "massages", massages_soins_path %>
  </div>
</section>


<div class="inside" id="list_produits_categorie" data-controller="product">
  <aside class="category_form">
    <%= simple_form_for :filtrage, data: {product_target:"form",action:"submit->product#send"},url: soins_filter_path do |f| %>
      <span class="titre_filtre"><p>Catégorie</p></span>
      <%= f.fields_for :produits_types do |options_form| %>
        <%= options_form.input :visage, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Visage" %>
        <%= options_form.input :corps, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Corps" %>
        <%= options_form.input :massage, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Massage" %>
        <%= options_form.input :prestige, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Prestige" %>
        <%= options_form.input :signature, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Signature" %>
      <% end %>
      <span class="titre_filtre"><p>Types de besoin</p></span>
      <%= f.fields_for :besoins_types do |nest_input| %>
        <%= nest_input.input :anti_âge, as: :boolean, checked_value: 'positive', unchecked_value: 'negative', label:"Anti-âge" %>
        <%= nest_input.input :minceur, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Minceur" %>
        <%= nest_input.input :détox, as: :boolean, checked_value: 'positive', unchecked_value: 'negative',label:"Détox" %>
      <% end %>
      <%= f.hidden_field :category, value: @category %>
      <%= f.submit "Filtrer", class: "btn-rond" %>
    <% end %>

  </aside>
  <section data-product-target="items" id="product-main" class="liste_soins_index">
    <% @products.each do |pdt|%>
      <%= render "soin_item", locals:{soin:pdt} %>
    <% end %>
    <!--
    <%= render partial: "liste", locals: {products: @products} %>
    -->
  </section>
</div>
