<h1>New soin</h1>
<%= simple_form_for @soin do |f|%>
  <%= f.input :name %>
  <%= f.input :category, collection: ["visage","corps","massage"]%>
  <%= f.association :products,as: :check_boxes %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Envoyer"%>
<% end%>
