<h1>New soin</h1>
<%= simple_form_for @soin, :url => {:action =>"create"} do |f|%>
  <%= f.input :name %>
  <%= f.input :category, collection: ["visage","corps","massage"]%>
  <%= f.association :products,as: :check_boxes %>
  <%= f.input :description %>
  <%= f.input :estimated_time %>
  <%= f.input :photo, as: :file %>
  <% @soin.photo.each do |image| %>
      <%= f.hidden_field :photo,value: image.signed_id %>
  <% end %>
  <%= f.submit "Envoyer"%>
<% end%>
