<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body style="padding: 1em; font-family:'Inter';">
    <h1 style="text-align: center;font-family:'Arsenal' ;">Vous avez reçu une nouvelle demande de rendez-vous</h1>
    <p>
      Bonjour <strong><%= params[:gerant_firstname %></strong><br>
      <%= params[:firstname]%> <%= params[:lastname]%> vient de faire une demande de rendez-vous pour votre établissement <%= params[:institut_name] %>.
    </p>
    <div style='border:solid 1px;padding: 2em;'>
      <h2 style="font-family:'Arsenal';">Fiche d'informations</h2>
      <p><strong>Nom :</strong> <%= params[:lastname] %></p>
      <p><strong>Prenom :</strong> <%= params[:firstname] %></p>
      <p><strong>Soin demandé :</strong> <%= params[:soin]%></p>
      <p><strong>Date :</strong> <%= params[:date] %></p>
      <p><strong>Téléphone :</strong> <%= params[:tel_client] %></p>
      <p></p>
      <p></p>
      <p><strong>Message :</strong></p>
      <p><%= params[:message] %></p>
      <p><br></p>
      <hr>

      <p></p>
      <p><strong>Contacter <%= params[:gerant_firstname] %></strong> sans plus attendre</p>
      <p style="border:solid 1px;border-radius:50px;display: inline-block;padding: 2px 5px;"><%= params[:gerant_tel]%></p><br>
      <p style="border:solid 1px;border-radius:50px;display:inline-block;padding: 2px 5px;"><%= params[:gerant_email]%></p>

    </div>
    <p style="text-align: center;">Ne loupez rien !</p>
    <h2 style="text-align: center; font-family:'Arsenal';">Connectez-vous<br> à votre espace pro</h2>
    <div style="display: flex;justify-content: center;">
      <a href="">Je me connecte</a>
    </div>
    <footer style="background-color: black; color:white;">
      <p>Nature is future</p>
      <p>suivez-nous sur les réseaux sociaux</p>
      <p>logo facebook logo instagram</p>
      <h1 style="color:white;">FOOTER</h1>
    </footer>
  </body>
</html>
