<h1>Cartes cadeau</h1>
<%= link_to "Créer un chèque cadeau", new_carte_cadeau_path() %>

<h2>Cartes cadeau en cours de validité</h2>
<ul>
<% @valid_cartes.each do |carte| %>
<li>
  <%= carte.destinataire %>
  <%= carte.price %>
  <%= carte.expediteur %>
  <%= carte.date_expiration %>
  <p>Envoyé ? Envoyer !</p>
</li>
<% end %>
</ul>
<h2>Cartes cadeau expirées</h2>
<ul>
<% @expirated_cartes.each do |carte| %>
<li><%= carte %></li>
<% end %>
</ul>
