<h1>Cartes cadeau</h1>
<%= link_to "Créer un chèque cadeau", new_carte_cadeau_path() %>

<h2>Cartes cadeau en cours de validité</h2>
<table>
  <thead>
    <th>Statut</th>
    <th>Date d'expiration</th>
    <th>Adressé à</th>
    <th>De</th>
    <th>Ce qui est offert</th>
    <th>Message</th>
    <th>Date de création</th>
    <th>Option</th>
  </thead>
  <tbody>
    <% @valid_cartes.each do |carte| %>
    <tr>
      <td><% valid = carte.date_expiration > Time.now ? "Valide" : "Expirée" %><%= valid %></td>
      <td><%= carte.date_expiration %></td>
      <td><%= carte.destinataire%></td>
      <td><%= carte.expediteur%></td>
      <td><%= carte.offre %></td>
      <td><%= carte.message%></td>
      <td><%= carte.created_at %></td>
      <td><%= carte.status %> <%= link_to 'Supprimer', carte_cadeau_path(carte), data: {turbo_method: :delete} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
