<h1>Modifier mon profil</h1>
<%= simple_form_for @customer, :url => url_for(:controller => 'espace_pro',:action => 'update_profile') do |f| %>
  <%= f.input :lastname %>
  <%= f.input :firstname %>
  <%= f.input :email %>
  <%= f.input :tel %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Sauvegarder' %>
<% end %>
