<h1>Modifier la fiche institut</h1>

<div class="custom_form">
<%= simple_form_for @institut, :url => {:action =>"update_institut", :controller =>"espace_pro"} do |f| %>
  <%= f.input :name, label:"Nom de l'institut" %>
  <%= f.input :tel,label:"Numéro de téléphone" %>
  <%= f.input :address,label:"Adresse" %>
  <div class="flex">
    <%= f.input :cp,label:"Code Postal" %>
    <%= f.input :city,label:"Ville" %>
  </div>
  <div class="flex">
    <%= f.input :country, selected: "FR",label:"Pays" %>
    <%= f.input :region, collection: @regions, label:"Région" %>
  </div>
  <%= f.select :category, Institut::CATEGORIES, selected: 1, label:"Catégorie d'établissement" %>
  <div class="flex">
    <%= f.input :fb, label: "Lien vers la page Facebook"%>
    <%= f.input :ig, label: "Lien vers le compte Instagram"%>
  </div>
  <%= f.input :tik_tok, label: "Lien vers le compte Tik Tok"%>
  <%= f.input :rdv, label: "Lien vers plateforme de réservation ex: Planity"%>
  <div class="field">
    <%= f.label :description %>
    <%= f.rich_text_area :description, class: "form-control" %>
  </div>
  <%= f.input :mess_promo, label: "Message à afficher"%>

  <div class="form-photos-manage">
      <h3>Photos de l'institut</h3>
      <div class="list-photos-form">
        <% @institut.photos.each do |photo| %>
          <div>
            <%= image_tag photo,height: 100, width: 100, crop: :fill %>
            <%= link_to delete_photo_espace_pro_index_path(institut: @institut, photo:photo) do %>
              <i class="fa-sharp fa-solid fa-xmark fa-lg"></i>
            <% end%>
          </div>
        <% end %>
      </div>

      <% @institut.photos.each do |image| %>
        <%= f.hidden_field :photos, multiple: true, value: image.signed_id %>
      <% end %>

      <%= f.file_field :photos, multiple: true %>
  </div>

  <div class="promo-photo">
    <h3>Photo de promotion</h3>
    <% if @institut.promo_photo.present? %>
      <%= link_to delete_promo_espace_pro_index_path(institut: @institut, photo:@institut.promo_photo) do %>
        <i class="fa-sharp fa-solid fa-xmark fa-lg"></i>
      <% end%>
      <%= image_tag @institut.promo_photo, crop: :fill %>
    <% end %>
    <%= f.input :promo_photo, label: "Photo promotion | Dimensions: 800x400"%>
  </div>
  <h3>Horaires de l'établissement</h3>
  <div id="horaires" data-controller="autocomplete" data-autocomplete-horaires="<%= @institut.horaires.to_json %>">
  <% @institut.horaires.each do |key, value| %>
    <%= f.simple_fields_for :horaires, key =>Hash.new do |h|%>
      <div class="flex">
        <%= h.input :"#{key}_am_1", label: "#{key.capitalize} Matin", placeholder:"ex: 8h00" %>
        <%= h.input :"#{key}_am_2", label: "#{key.capitalize} Matin", placeholder: "ex: 12h00" %>
      </div>
      <div class="flex">
        <%= h.input :"#{key}_pm_1", label: "#{key.capitalize} Après-midi", placeholder: "ex: fermé" %>
        <%= h.input :"#{key}_pm_2", label: "#{key.capitalize} Après-midi", placeholder: "ex: fermé" %>
      </div>
      <hr>
    <% end %>
  <% end %>
  </div>
  <%= f.hidden_field :customer_id, value: params[:customer]  %>
  <%= f.hidden_field :institut_id, value: @institut.id  %>
  <%= f.button :submit,"Sauvegarder",class:"btn-rond black" %>
<% end %>
</div>

<%= javascript_include_tag 'trix' %>
