
<div class="espace_pro_institut_show">
  <h1><%= @institut.name %></h1>
  <%= link_to "voir la fiche en ligne",institut_path(@institut),target: "_blank",class:"btn-custom" %>
  <div class="main_bloc_institut">
    <div class="bloc_institut_links">
      <% if params[:action] == "institut_show" %>
        <a href="" class="active_view">aperçu</a>
        <%= link_to "editer ma fiche institut" ,edit_institut_espace_pro_index_path(@institut) %>
      <% elsif params[:action] == "edit_institut" %>
        <a href="" >aperçu</a>
        <%= link_to "editer ma fiche institut" ,edit_institut_espace_pro_index_path(@institut) %>
      <% end %>
    </div>
    <div class="flex between">
      <div class="espace_pro_bloc horaires">
        <h2>Horaires</h2>
        <div>
          <table>
              <tbody>
                <% @institut.horaires.each do |key,value|%>
                  <tr>
                    <td><%= key.upcase %></td>
                    <% if value.values.first(2).first == value.values.first(2).last %>
                      <td><%= value["am_1"].capitalize %></td>
                    <% else %>
                      <td><%= value["am_1"].capitalize %> - <%= value["am_2"].capitalize %></td>
                    <% end %>
                    <% if value.values.last(2).first == value.values.last(2).last %>
                      <td><%= value["pm_1"].capitalize %></td>
                    <% else %>
                      <td><%= value["pm_1"].capitalize %> - <%= value["pm_2"].capitalize %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
      <div class="espace_pro_bloc">
        <h2>Adresse</h2>
        <div class="bloc_text">
           <p><%= @institut.full_address%></p>
        </div>
        <div class="espace_pro_map">
              <div style="width: 100%; height: 250px;"
                  data-controller="map"
                  data-map-markers-value="<%= @marker.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

            </div>
      </div>

    </div>
    <div>
      <div class="titre_edit">
        <h2>Photos de l'institut</h2></i>
      </div>
      <% if @institut.photos.attached? %>
        <div class="espace_pro_photos">
        <% @institut.photos.each do |photo| %>
          <%= image_tag photo, width: 100, height:100 %>
        <% end %>
        </div>
      <% end %>
    </div>

    <div>
      <div class="titre_edit">
        <h2>Visuel de promotion</h2>
      </div>
      <% if @institut.promo_photo.present? %>
        <%= image_tag @institut.promo_photo, crop: :fill %>
      <% end %>
    </div>

    <div>
      <div class="titre_edit">
        <h2>Présentation</h2></i>
      </div>
      <div class="bloc_text">
        <%= sanitize @institut.description %>
      </div>
      <div>
        <% if !@institut.carte.present? %>
        <%= link_to "ajouter une carte",new_carte_path %>
        <% else %>
        <p style="font-size:0.8em;">*Pour associer une nouvelle carte des soins à cet institut, il est nécessaire de supprimer l'ancienne avant d'en créer une nouvelle.</p>
        <%= link_to "Supprimer la carte des soins",
          carte_path(@institut.carte),
          data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}, class:"btn-custom" %>
        <% end %>
      </div>
      <div class="flex soins_espace_pro">
        <div>
          <h2>Soins visage proposés</h2>
          <ul>
          <% if !@carte_nif.nil? && !@carte_custom.nil? %>
            <% @carte_nif.each do |soin| %>
            <% if Soin.find(soin.soin_id).category == "visage" %>
              <li>
                <h3><%= Soin.find(soin.soin_id).name %></h3>
                <div class="">
                  <p>durée: à partir de <%= soin[:estimated_time] %>min</p><p style="margin-right:3px; margin-left:3px;"> - </p><p><%= soin.price_ttc %><%= currency_symbol %></p>
                </div>
              </li>
            <% end %>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div>
          <h2>Soins corps proposés</h2>
          <ul>
          <% if !@carte_nif.nil? && !@carte_custom.nil? %>
            <% @carte_nif.each do |soin| %>
            <% if Soin.find(soin.soin_id).category == "corps" %>
              <li>
                <h3><%= Soin.find(soin.soin_id).name %></h3>
                <div class="">
                  <p>durée: à partir de <%= soin[:estimated_time] %> min</p><p style="margin-right:3px; margin-left:3px;"> - </p><p><%= soin.price_ttc %><%= currency_symbol %></p>
                </div>
              </li>
            <% end %>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
