<h1>Etablissement show</h1>
<%= @institut.name %>
<%= link_to "voir la fiche en ligne",institut_path(@institut),target: "_blank" %>
<%= link_to "editer" ,edit_institut_espace_pro_index_path(@institut) %>
<h2>Modifier</h2>
<h2>Carte des soins de l'institut</h2>
<% if !@institut.carte.present? %>
  <%= link_to "ajouter une carte",new_carte_path %>
<% else %>
  <p>*Pour associer une nouvelle carte des soins à cet institut, il est nécessaire de supprimer l'ancienne avant d'en créer une nouvelle.</p>
  <%= link_to "Supprimer la carte",
  carte_path(@institut.carte),
  data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"} %>
<% end %>


<h2>Ma carte des soins</h2>
<% if !@carte_nif.nil? && !@carte_custom.nil? %>
  <% @carte_nif.each do |soin| %>
  <p><%= Soin.find(soin[:soin_id]).name %> - Temps : <%= soin[:estimated_time] %> min | <%= soin.price_ttc %><%= currency_symbol %> TTC</p>
  <% end %>
<% end %>
<div class="espace_pro_institut_show">
  <h1><%= @institut.name %></h1>
  <div class="bloc_institut_links">
    <a href="">aperçu</a>
    <a href="">editer ma fiche institut</a>
  </div>
  <div>
    <h2>Présentation <i class="fa-solid fa-pencil" title="Modifier"></i></h2>
    <p><%= @institut.description %></p>
    <div class="flex">
      <div>
        <h2>Soins visage proposés</h2>
        <p>soins liste</p>
      </div>
      <div>
        <h2>Soins corps proposés</h2>
        <p>soins liste</p>
      </div>
    </div>
  </div>
</div>
