<h1>Demandes de rendez-vous</h1>
<div class="rdv_list" data-controller="espace-pro">
<div class="tabs">
  <div class="tab selected" data-action="click->espace-pro#selectTab" data-espace-pro-target="tab"><p>Demandes non traîtées</p></div>
  <div class="tab" data-action="click->espace-pro#selectTab" data-espace-pro-target="tab"><p>Demandes traîtées</p></div>
</div>

<div class="content_tab_main">

  <div class="content_tab visible" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% @rdv.where(read:false).each do |rdv| %>
      <li class="rdv">
        <div class="rdv_top flex">
          <div></div>
          <div><p><%= rdv.created_at.strftime("%d/%m/%y") %></p></div>
        </div>
        <div class="">
          <div>
          <h3>Nom</h3>
          <p><%= rdv.expediteur %></p>
          </div>
        </div>
        <div>
        <h3>Message</h3>
        <p><%= rdv.message %></p>
        </div>
        <div>
          <p>Date de rendez-vous demandée : <%= rdv.date.strftime("%d/%m/%y") %></p>
        </div>
        <div>
          <h3>Informations complémentaires</h3>
          <p>Notes personnnelles</p>
            <%= simple_form_for :note, url: add_note_to_message_espace_pro_path, method: :get do |f| %>
              <%= f.input :message_id, as: :hidden, :input_html => { :value => rdv.id } %>
              <%= f.input :note, as: :text %>
              <%= f.button :submit %>
            <% end %>

            <%= link_to "test",add_note_to_message_espace_pro_path(params[:id]) %>
          <p>Heure rendez-vous</p>
        </div>
        <div>
          <%= link_to "Marquer comme traîté",update_status_espace_pro_path(message_id:rdv.id) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="content_tab" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% @rdv.where(read:true).each do |rdv| %>
      <li class="rdv">
        <div class="rdv_top flex">
          <div></div>
          <div><p><%= rdv.created_at.strftime("%d/%m/%y") %></p></div>
        </div>
        <div class="">
          <div>
          <h3>Nom</h3>
          <p><%= rdv.expediteur %></p>
          </div>
        </div>
        <div>
        <h3>Message</h3>
        <p><%= rdv.message %></p>
        </div>
        <div>
          <p>Date de rendez-vous demandée : <%= rdv.date.strftime("%d/%m/%y") %></p>
        </div>
        <div>
          <h3>Informations complémentaires</h3>
          <p>Notes personnnelles</p>
          <p>Heure rendez-vous</p>
        </div>
        <div>
          <%= link_to "Marquer comme traîté",update_status_espace_pro_path(message_id:rdv.id) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>

</div>

</div>
