<h1>Demandes de rendez-vous</h1>
<div class="rdv_list" data-controller="espace-pro">
<div class="tabs">
  <div class="tab" data-action="click->espace-pro#selectTab" data-espace-pro-target="tab"><p>Prochains rendez-vous</p></div>
  <div class="tab" data-action="click->espace-pro#selectTab" data-espace-pro-target="tab"><p>Rendez-vous en attente</p></div>
  <div class="tab" data-action="click->espace-pro#selectTab" data-espace-pro-target="tab"><p>Rendez-vous passés</p></div>
</div>

<div class="content_tab_main">

  <div class="content_tab" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% @rdv.each do |rdv| %>
      <li class="rdv">
        <div class="rdv_top flex">
          <div class="rdv_status"><p>En attente de réponse</p></div>
          <div><p><%= rdv.created_at.strftime("%d/%m/%y") %></p></div>
        </div>
        <div class="">
          <div><p><%= rdv.destinataire %></p></div>
        </div>
        <div>
        <p>Demande de rendez-vous</p>
        </div>
        <div>
          <p><%= rdv.date.strftime("%d/%m/%y") %></p>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="content_tab" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% @rdv.each do |rdv| %>
      <li class="rdv"><%= rdv %>2</li>
    <% end %>
    </ul>
  </div>
  <div class="content_tab" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% @rdv.each do |rdv| %>
      <li class="rdv"><%= rdv %>3</li>
    <% end %>
    </ul>
  </div>

</div>

</div>
