<h1>Mon espace pro</h1>

<p>Bonjour <%= current_customer.firstname %></p>
<hr>
<section class="flex espace_pro_main">
  <div class="espace_pro_block a">
    <h2>Mes dernières demandes de rendez-vous</h2>
     <div class="content_tab visible" data-espace-pro-target="tabContent">
      <ul class="liste_rdv">
        <% @rdvs.where(read:false).order(:id).each do |rdv| %>
        <li class="rdv" data-espace-pro-target="messagelist" data-id="<%= rdv.id %>">
          <%= render partial: "message_list_item", locals: {rdv: rdv} %>
        </li>
        <% end %>
        <li class="rdv">...</li>
      </ul>
    </div>
    <%= link_to "Accéder à l'ensemble des rendez-vous",rendez_vous_espace_pro_path,class:"btn-custom" %>
  </div>
  <div class="espace_pro_block b">
    <h2>Mon stock revente</h2>
    <div class="flex">
      <% current_customer.instituts.each do |institut| %>
        <% if institut.stock_institut != nil %>
        <div class="block_Stock_item">
          <h4>Institut: <%= institut.name %></h4>
          <p>Dernière mise à jour du stock :
          <span class="status_stock <%= (Date.today - Date.parse(institut.stock_institut.updated_at.strftime("%d/%m/%Y"))).to_i >=30 ? "red": "green" %>"><%= institut.stock_institut.updated_at.strftime("%d/%m/%Y") %></span>
          </p>
          <table class="stock_tableau">
            <thead>
              <th>Produit</th>
              <th>Quantité</th>
            </thead>
            <tbody>
              <% institut.stock_institut.pdt_stock_items.each do |pdt| %>
                <tr>
                  <td><%= Product.find(pdt.product_id).name %></td>
                  <td><%= pdt.quantity %></td>
                <tr>
              <% end %>
            <tbody>
          </table>
          <br>
          <%= link_to "Modifier le stock", edit_stock_institut_path(institut.stock_institut),class:"btn-custom"%>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="espace_pro_block c">
    <h2>Offre</h2>
    <div>

    </div>
</div>
<div class="espace_pro_block d">
  <div>
    <h2>Mediathèques</h2>
  </div>
</div>
<div class="espace_pro_block e">
  <div>
    <h2>Documents</h2>
    <%= link_to "Phototheque", phototheque_espace_pro_path %>
  </div>
</div>

<div class="espace_pro_block f">
  <div>
    <h2>Stats vues</h2>
    <div>

        <% @visits.each do |array| %>
        <h4>Nombre de vues de la fiche d'établissement : <%= Institut.find(array.first.properties["institut_id"]).name %></h4>
        <p><%= array.size %> vues ces 30 derniers jours</p>
        <%= line_chart array.group_by_day(:time, range: 1.month.ago.midnight..Time.now).count %>
        <hr>
        <% end %>
      </div>
  </div>
</div>
<div class="espace_pro_block g">

  <div>
    <h2>Stats rdv</h2>
    <div>
        <% @rdvs_send.each do |collection| %>
        <h4>Demandes de rendez-vous reçu</h4>
        <p><%= collection.size %> demandes ces 30 derniers jours</p>
          <%= column_chart collection.group_by_day(:time, range: 1.month.ago.midnight..Time.now).count %>
        <% end %>
      </div>
  </div>
</div>

</section>
