<h1>Mon espace pro</h1>

<p>Bonjour <%= current_customer.firstname %></p>
<hr>
<section class="flex espace_pro_main">
  <div class="espace_pro_block a">
    <h2>Mes dernières demandes de rendez-vous</h2>
     <div class="content_tab visible" data-espace-pro-target="tabContent">
      <ul class="liste_rdv">
        <% @rdvs.where(read:false).order(:id).each do |rdv| %>
        <li class="rdv" data-espace-pro-target="messagelist" data-id="<%= rdv.id %>">
          <%= render partial: "message_list_item", locals: {rdv: rdv} %>
        </li>
        <% end %>
        <li class="rdv">...</li>
      </ul>
    </div>
    <%= link_to "Accéder à l'ensemble des rendez-vous",rendez_vous_espace_pro_path,class:"btn-custom" %>
  </div>
  <div class="espace_pro_block b">
    <h2>Mon stock revente</h2>
    <div class="flex">
      <% current_customer.instituts.each do |institut| %>
        <% if institut.stock_institut != nil %>
        <div class="block_Stock_item">
          <h4>Institut: <%= institut.name %></h4>
          <p>Dernière mise à jour du stock :
          <span class="status_stock <%= (Date.today - Date.parse(institut.stock_institut.updated_at.strftime("%d/%m/%Y"))).to_i >=30 ? "red": "green" %>"><%= institut.stock_institut.updated_at.strftime("%d/%m/%Y") %></span>
          </p>
          <table class="stock_tableau">
            <thead>
              <th>Produit</th>
              <th>Quantité</th>
            </thead>
            <tbody>
              <% institut.stock_institut.pdt_stock_items.each do |pdt| %>
                <tr>
                  <td><%= Product.find(pdt.product_id).name %></td>
                  <td><%= pdt.quantity %></td>
                <tr>
              <% end %>
            <tbody>
          </table>
          <br>
          <%= link_to "Modifier le stock", edit_stock_institut_path(institut.stock_institut),class:"btn-custom"%>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="espace_pro_block c">
    <h2>Statistiques</h2>
    <div>
      <div>
        <% @visits.each do |array| %>
        <h4>Nombre de vues de la fiche d'établissement : <%= Institut.find(array.first.properties["institut_id"]).name %></h4>
        <p><%= array.size %> vues ces 30 derniers jours</p>
        <%= line_chart array.group_by_day(:time, range: 1.month.ago.midnight..Time.now).count %>
        <hr>
        <% end %>
      </div>
      <div>
        <% @rdvs_send.each do |collection| %>
        <h4>Demandes de rendez-vous reçu</h4>
          <%= column_chart collection.group_by_day(:time, range: 1.month.ago.midnight..Time.now).count %>
        <% end %>
      </div>
    </div>
</div>
<div class="espace_pro_block d">
  <div>
    <h2>Documents</h2>
  </div>
  <div>
    <h2>Les dernières offres</h2>
  </div>
</div>
</section>


<%= render "paliers" %>

<p>New : Actuellement, vous bénéficiez de <%= current_customer.avantage_palier %> de réduction pour le trimestre en cours, grâce aux <%= @last_trimestre_amount %> dépensés le trimestre dernier.</p>
<p>Actuellement vous allez bénéficier de <%= current_customer.next_palier(current_customer.total_trimestre) %> sur vos commandes pour le prochain trimestre | <%= current_customer.total_trimestre %></p>
<h2>Mes commandes</h2>
<ul>

<%= @amount_avantages_ht %>

<% @orders.each do |order| %>
  <li><%= order.amount_ht %> <%= currency_symbol%> HT</li>
<% end%>
</ul>
<hr>
<p><%= current_customer.total_trimestre %> <%= currency_symbol%></p>

<%= link_to "Mes etablissements", etablissements_espace_pro_path(current_customer) %>

<%= link_to "Produits", produits_espace_pro_index_path %>
<%= link_to "FAQ", faq_espace_pro_index_path %>
<%= link_to "Phototheque", phototheque_espace_pro_path %>

<%= link_to "Mes cours", cours_formations_espace_pro_path(current_customer) %>

<h2>Mes soins</h2>
<%=link_to "accéder à mes soins",custom_soins_path(current_customer)%>

<h2>Les dernières actualités</h2>
<p>...</p>
<h2>Les dernières offres</h2>
<p>...</p>
<h2>Les derniers articles</h2>
<p>...</p>
<h2>Les dernières formations</h2>
<ul>
<% Course.all.each do |cours| %>
  <li><%= link_to cours.titre, course_path(cours)%></li>
<% end %>
</ul>
<p>...</p>
<h2>Mes dernière commandes</h2>
<p>...</p>
