<table class="crm-tableau">
<% prospects = locals[:prospects] %>
  <thead>
  <tr>
    <th>Date prospect</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Institut</th>
    <th>Statut</th>
    <th>Email</th>
    <th>Tel</th>
    <th>Source</th>
    <th>CP</th>
    <th>Ville</th>
    <th>Pays</th>
  </tr>
  </thead>
  <tbody>
    <% prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.date_prospect.strftime('%d/%m/%Y') %></td>
        <td><%= prospect.lastname %></td>
        <td><%= prospect.firstname %></td>
        <td><%= prospect.institut %></td>
        <td><span class="status <%= @colors[prospect.statut.to_sym] %>"><%= prospect.statut.capitalize %></span></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.tel %></td>
        <td><%= prospect.source %></td>
        <td><%= prospect.cp %></td>
        <td><%= prospect.town %></td>
        <td><%= prospect.country %></td>
        <td>
        <%= link_to show_prospect_crm_index_path(prospect) do %>
          <i class="fa-regular fa-eye"></i>
        <% end %>
        <%= link_to edit_prospect_crm_index_path(prospect) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <%= link_to "supprimer",
          prospect_path(prospect),
          data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
