<div class="table-responsive">
<table class="crm-tableau">
<% prospects = locals[:prospects] %>
  <thead>
  <tr>
    <th>
      <div>
        <span>Date prospect</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"date_prospect",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"date_prospect",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Nom</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"lastname",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"lastname",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Prénom</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"firstname",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"firstname",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Institut</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"institut",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"institut",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Statut</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"statut",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"statut",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Email</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"email",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"email",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Tel</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"tel",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"tel",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Source</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"source",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"source",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>CP</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"cp",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"cp",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Ville</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"town",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"town",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Pays</span>
        <div>
          <%= link_to filter_up_crm_index_path(filtre:"country",cat:"prospect") do %>
            <i class="fa-solid fa-caret-up"></i>
          <% end %>
          <%= link_to filter_down_crm_index_path(filtre:"country",cat:"prospect") do %>
            <i class="fa-solid fa-caret-down"></i>
          <% end %>
        </div>
      </div>
    </th>
    <th>
      <div>
        <span>Options</span>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <% prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.date_prospect.strftime('%d/%m/%Y') %></td>
        <td><%= prospect.lastname %></td>
        <td><%= prospect.firstname %></td>
        <td><%= prospect.institut %></td>
        <td><span class="status <%= @colors[prospect.statut.to_sym] %>"><%= prospect.statut.capitalize %></span></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.tel %></td>
        <td><%= prospect.source %></td>
        <td><%= prospect.cp %></td>
        <td><%= prospect.town %></td>
        <td><%= prospect.country %></td>
        <td>
        <%= link_to show_prospect_crm_index_path(prospect) do %>
          <i class="fa-regular fa-eye"></i>
        <% end %>
        <%= link_to edit_prospect_crm_index_path(prospect) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <%= link_to "supprimer",
          prospect_path(prospect),
          data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
