<div class="table-responsive">
<table class="crm-tableau">
<% prospects = locals[:prospects] %>
  <thead>
  <tr>
    <th>
      <div>
        <span>Date de création du client</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Nom</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Prénom</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Entreprise</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Statut</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Email</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Tel</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Source</span>
        <i class="fa-solid fa-filter"></i>
    </th>
    <th>
      <div>
        <span>CP</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Ville</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Pays</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>CA Total N-1 (HT)</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>CA Total N (HT)</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Date de dernière visite</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Montant dernière commande</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Code client</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Dernière commande (statut)</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Mode de paiement du client</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Conditions commerciales</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Options</span>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <% prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= prospect.lastname if prospect.lastname.present? %></td>
        <td><%= prospect.firstname if prospect.firstname.present? %></td>
        <td><%= prospect.institut if prospect.institut.present? %></td>
        <td>Actif/non</td>
        <td><%= prospect.email if prospect.email.present? %></td>
        <td><%= prospect.tel if prospect.tel.present? %></td>
        <td>///</td>
        <td><%= prospect.cp if prospect.cp.present?%></td>
        <td><%= prospect.town if prospect.town.present? %></td>
        <td><%= prospect.country if prospect.country.present? %></td>
        <td><%= prospect.total_n_1 %> <%= currency_symbol %></td>
        <td><%= prospect.total_n %> <%= currency_symbol %></td>
        <td>Dernière visite</td>
        <td><%= prospect.orders.last.amount_ht if !prospect.orders.last.nil? %> <%= currency_symbol %></td>
        <td>Code client à intégrer</td>
        <td>statut dernière commande</td>
        <td>Mode de paiement à intégrer</td>
        <td>Conditions commerciales à intégrer</td>
        <td>
        <%= link_to customer_crm_index_path(prospect) do %>
          <i class="fa-regular fa-eye"></i>
        <% end %>
        <%= link_to edit_customer_crm_index_path(prospect) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
