<table class="crm-tableau">
<% prospects = locals[:prospects] %>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Entreprise</th>
    <th>Statut</th>
    <th>Montant déjà facturé €</th>
    <th>Date dernière cmd</th>
    <th>Montant dernière cmd</th>
    <th>Panier moyen</th>
    <th>Fréquence de cmd</th>
    <th>btn</th>
  </tr>
  </thead>
  <tbody>
    <% prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.lastname %></td>
        <td><%= prospect.firstname %></td>
        <td><%= prospect.institut %></td>
        <td><%= prospect.statut %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <%= link_to "Editer", edit_prospect_crm_path(prospect) %>
        <%= link_to "Delete",
          prospect_path(prospect),
          data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
