<h1>Créer un institut</h1>

<%= simple_form_for @institut, :url => url_for(:action => 'create_institut', :controller => 'crm'), :method => 'post' do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :cp %>
  <%= f.input :city %>
  <%= f.input :country, selected: "FR" %>
  <%= f.select :category, Institut::CATEGORIES, selected: 1 %>
  <% @institut.horaires.each do |key, value| %>
    <%= f.simple_fields_for :horaires, key =>Hash.new do |h|%>
      <div class="flex">
        <%= h.input :"#{key}_am_1", label: "#{key.capitalize} Matin", placeholder:"ex: 8h00" %>
        <%= h.input :"#{key}_am_2", label: "#{key.capitalize} Matin", placeholder:"ex: 12h00" %>
      </div>
      <div class="flex">
        <%= h.input :"#{key}_pm_1", label: "#{key.capitalize} Après-mmidi", placeholder:"ex: fermé" %>
        <%= h.input :"#{key}_pm_2", label: "#{key.capitalize} Après-midi", placeholder:"ex: fermé" %>
      </div>
    <% end %>
  <% end %>
  <%= f.hidden_field :customer_id, value: params[:customer]  %>
  <%= f.button :submit %>
<% end %>
