<h1>Créer un institut</h1>

<%= simple_form_for @institut, :url => url_for(:action => 'create_institut', :controller => 'crm'), :method => 'post' do |f| %>
  <%= f.input :name %>
  <%= f.input :tel %>
  <%= f.input :address %>
  <%= f.input :cp %>
  <%= f.input :city %>
  <%= f.input :country, selected: "FR" %>
  <%= f.input :region, collection: @regions %>
  <%= f.select :category, Institut::CATEGORIES, selected: 1 %>

  <%= f.input :email, label: "Email de l'institut (le mail du client sera renseigné par défaut)"%>
  <%= f.input :website, label: "Site internet personnel de l'institut"%>
  <%= f.input :fb, label: "Lien vers la page Facebook"%>
  <%= f.input :ig, label: "Lien vers le compte Instagram"%>
  <%= f.input :tik_tok, label: "Lien vers le compte Tik Tok"%>
  <%= f.input :rdv, label: "Lien vers plateforme de réservation, ex: Planity, Beauty Planet"%>
  <div>
  <a href="https://developers.google.com/maps/documentation/javascript/examples/places-placeid-finder">Trouver le place id</a>
  <%= f.input :place_id, label:"Place ID pour la note Google" %>
  </div>

  <div class="field" data-controller="trix-custom">
    <%= f.label :description %>
    <%= f.rich_text_area :description, class: "form-control" %>
  </div>

  <% @institut.photos.each do |image| %>
    <%= f.hidden_field :photos, multiple: true, value: image.signed_id %>
  <% end %>

  <%= f.file_field :photos, multiple: true %>

  <% @institut.horaires.each do |key, value| %>
    <%= f.simple_fields_for :horaires, key =>Hash.new do |h|%>
      <div class="flex">
        <%= h.input :"#{key}_am_1", label: "#{key.capitalize} Matin", placeholder:"ex: 8h00" %>
        <%= h.input :"#{key}_am_2", label: "#{key.capitalize} Matin", placeholder:"ex: 12h00" %>
      </div>
      <div class="flex">
        <%= h.input :"#{key}_pm_1", label: "#{key.capitalize} Après-mmidi", placeholder:"ex: fermé" %>
        <%= h.input :"#{key}_pm_2", label: "#{key.capitalize} Après-midi", placeholder:"ex: fermé" %>
      </div>
    <% end %>
  <% end %>
  <%= f.hidden_field :customer_id, value: params[:customer]  %>
  <%= f.button :submit %>
<% end %>
<%= javascript_include_tag 'trix' %>
