<h1>Créer un institut</h1>

<%= simple_form_for @institut, :url => url_for(:action => 'create_institut', :controller => 'crm'), :method => 'post' do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :cp %>
  <%= f.input :city %>
  <%= f.input :country, selected: "FR" %>
  <%= f.simple_fields_for :monday do |h|%>
    <%= h.input :am_1 %> <%= h.input :am_2 %>
    <%= h.input :pm_1 %> <%= h.input :pm_2 %>
  <% end %>
  <%= f.simple_fields_for :tuesday do |h|%>
    <%= h.input :am_1 %> <%= h.input :am_2 %>
    <%= h.input :pm_1 %> <%= h.input :pm_2 %>
  <% end %>
  <%= f.hidden_field :customer_id, value: params[:customer]  %>
  <%= f.button :submit %>
<% end %>
