<h1>Prospection</h1>
<div data-controller="crm" class="custom_form prospection">
  <%= simple_form_for :datas,url: request_prospection_crm_index_path, method: :get do |f| %>
    <div class="flex">
      <%= f.input :address, label: "Adresse", required: false, label: "Adresse" %>
      <%= f.input :town, label: "Ville", placeholder:"Strasbourg"%>
    </div>
    <div class="flex">
      <%= f.input :country, label: "Pays", selected: "FR"%>
      <%= f.input :cp, label: "Code postal",placeholder:"67000"%>
    </div>
    <div class="flex">

      <%= f.input :category, label: "Categorie entreprise", collection:["beauty salon","spa","pharmacy","physiotherapist","establishment"],selected:1 %>

      <%= f.input :rayon,as: :integer, label: "Rayon km", input_html: { min: '0', step: 'any', max:'20' },placeholder:"Entre 1 et 20km"%>
    </div>
    <%= f.input :plus, as: :boolean, label:"Ajouter code postal, ville, pays, horaires, tel, site internet (Temps de chargement plus long)"%>
    <%= f.submit "Envoyer",class:"btn-custom black" %>
  <% end %>
</div>
<br>
<a href="https://daltonluka.com/blog/google-my-business-categories">Lien vers l'ensemble des catégories Google My Business</a>
<a href="https://samueldahan.com/liste-des-categories-google-my-business/">Autre liste des catégories</a>
