<h1>Prospection</h1>
<%= simple_form_for :datas, :url => {:action =>"request_prospection"} do |f| %>
  <div class="flex">
    <%= f.input :country, label: "Pays"%>
    <%= f.input :cp, label: "Code postal"%>
  </div>
  <div class="flex">
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :town, label: "Ville"%>
  </div>
  <div class="flex">
    <%= f.input :category, label: "Categorie entreprise", collection:["beauty salon","day spa","facial spa","health spa","beauty school","hair salon","pharmacy","parapharmacy","hostel","holiday apartment","holiday apartment rental","holiday home"] %>
    <%= f.input :rayon, label: "Rayon km"%>
  </div>
  <%= f.submit "Envoyer" %>
<% end %>
