<h1>Fiche cliente</h1>

<%= @customer.lastname %>
<%= @customer.firstname %>

<%= link_to "ajouter une fiche institut", new_institut_crm_index_path(customer:@customer) %>

<% @customer.total_trimestre %>

<h2>Etablissements</h2>
<ul>
  <% @instituts.each do |eta| %>
    <li>
      <div>
        <h3><%= eta.name %></h3>
        <p>Adresse: <%= eta.address %></p>
        <p>Ville: <%= eta.city %></p>
        <p>CP: <%= eta.cp %></p>
        <p>Pays: <%= eta.country %></p>
        <p>Tel: <%= eta.tel %></p>
        <%= link_to "voir fiche institut", institut_path(eta),target: "_blank" %>
        <%= link_to "Modifier fiche institut", edit_institut_crm_index_path(eta) %>
      </div>
    </li>
  <% end %>
</ul>
<h2>Commandes</h2>
<ul>
  <% @orders.each do |order| %>
    <li><%= order.amount_ht %> <%= currency_symbol %> HT</li>
    <li>
      <ul>
      <% order.order_products.each do |pdt| %>
        <% if pdt.quantity != 0 && !pdt.quantity.nil?%>
          <li><%= pdt.product.name %> x<%= pdt.quantity %> = <%= pdt.amount_ht %><%= currency_symbol %> HT</li>
        <% end %>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<h2>Produits les plus commandés</h2>
<ul>
<% @order_products.each do |pdt| %>
  <li><%= pdt[1].first.product.name %> x <%= pdt[1].map(&:quantity).sum %> | <%= pdt[1].map(&:amount_ht).sum %> <%= currency_symbol %> HT</li>
<% end %>
</ul>
<div class="">
<h3>CA client</h3>
<div class="table_crm_overflow">
  <table class="table_cmds_stats">
    <thead>
      <tr>
        <th></th>
        <% (@customer.orders.order(custom_date: :asc).first.custom_date.year..Date.today.year).to_a.each do |year| %>
        <td><%= year %></td>
        <% end %>
        <td>Totaux</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Nombre de commandes</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Commandes</td>
      <td></td>
    </tr>
    <tr>
      <td>CA réel</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<p>Evolution CA par an</p>

<h3>Panier moyen</h3>

<h3>Fréquence d'achat</h3>
</div>
<h3>Avantages paliers</h3>
