<h1>Statistiques</h1>
<div class="flex">
  <div class="stat_bloc">
    <h2>Commandes en cours</h2>
    <p>Total HT : <%= @orders.where(state:"En attente de paiement").sum(:amount_ht_cents)/100%> <%= currency_symbol %></p>
    <p>Nombre de commandes : <%= @orders.where(state:"En attente de paiement").count %></p>
  </div>

  <div class="stat_bloc">
    <h2>CA généré 2024</h2>
    <p>Total HT : <%= @orders.where(state:"Payée").sum(:amount_ht_cents)/100%> <%= currency_symbol %></p>
    <p>Nombre de commandes : <%= @orders.where(state:"Payée").count %></p>
  </div>
  <div class="stat_bloc">
    <h2>Nombre de clients</h2>
    <p>Nouveaux clients 2024 :</p>
    <p>Total clients :</p>
  </div>
  <div class="stat_bloc">
    <h2>Prospects</h2>
    <p>Nouveaux prospects :</p>
    <p>En cours de traitement :</p>
    <p title="Nombre de prospects assignés et traîtés au cours de l'année">Total prospects traités 2024 :</p>
  </div>

</div>
<div class="flex">
  <div class="stat_bloc">
    <h2>Clients n'ayant pas commandé :</h2>
    <p>Depuis 6 mois :</p>
    <p>Depuis 9 mois :</p>
    <p>Depuis 12 mois et plus :</p>
  </div>
</div>

<h3>Nombre de prospects <%= Date.today.year %></h3>

<%= column_chart @data_prospects, stacked:true,colors: ["#3498DB", "#F5B041","#F1948A","#73C6B6"],dataset: {borderWidth: 1},width: "800px", height: "300px" %>
<hr>
<h3>Commandes 2024</h3>
<table class="table_cmds_stats">
<thead>
  <tr>
    <th>2024</th>
    <th>Janvier</th>
    <th>Février</th>
    <th>Mars</th>
    <th>Avril</th>
    <th>Mai</th>
    <th>Juin</th>
    <th>Juillet</th>
    <th>Août</th>
    <th>Septembre</th>
    <th>Octobre</th>
    <th>Novembre</th>
    <th>Décembre</th>
    <th>Totaux</th>
    <th>Totaux N-1</th>
  </tr>
</thead>
<tbody>
<tr>
<td>Réassorts</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Ouvertures</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Totaux</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
<tr>
  <td colspan="15" height="20"></td>
</tr>
<tbody>
<td>Commandes</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>CA réel</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
</tbody>
</table>
<h3>Commandes <%= Date.today.year %></h3>
<div class="flex">
<p>Montant commandes passées HT : </p>
<p>CA réalisé HT : </p>
<progress max="100" value="70"></progress>
</div>
<% sample = [
  {
    name:"ca devisé",
    data:[["janvier",40],["fevrier",60],["mars",80]]
  },
  { name:"ca réalisé",
  data:[["janvier",10],["fevrier",20],["mars",30]]
  },
  {
    name:"ca 2023",
    data:[["janvier",10],["fevrier",20],["mars",30]]
  }
]
%>
<%= column_chart sample,colors: ["#b00", "#666"] %>
<hr>


<%= column_chart [["2021-01-01", [10]],["2021-01-01", [23]], ["2021-01-02", 6]], stacked: true,colors: ["#b00", "#666"] %>
<% data = [
  {
    name: "Fantasy & Sci Fi",
    data: [["2010", 10], ["2020", 16], ["2030", 28]]
  },
  {
    name: "Romance",
    data: [["2010", 24], ["2020", 22], ["2030", 19]]
  },
  {
    name: "Mystery/Crime",
    data: [["2010", 20], ["2020", 23], ["2030", 29]]
  }
]%>
<%= column_chart data, stacked:true%>

<%= column_chart sample,colors: ["#b00", "#666"] %>

<h3>Nombre de nouveaux clients</h3>
<%= column_chart @prospects.group_by_day(:date_prospect).count %>
<h3>Nombre de clients</h3>
<%= column_chart @prospects.group_by_day(:date_prospect).count %>
<h3>Nombre de commandes passées</h3>
<%= column_chart @orders.group_by_month(:custom_date).count %>
<%= scatter_chart @orders.group_by_month(:custom_date).count %>

<% sample1 = [
  {
    name:"2023",
    data:[["2023",["Camille Becht",1500]]]
  },
  {
    name:"2024",
    data:[["2024",["Camille Becht",800]]]
  }
]
%>
<% sample2 = [[size: "10km",
    population:"10 000"],
  [size: "20km",
    population:"20 000"
  ]
]%>
<h3>Volume d'affaires par client</h3>
<div class="flex">
  <%= scatter_chart @data_nuage_n_1,xtitle: "Nombre de commandes #{Date.today.year-1}", ytitle: "CA généré ht payé",width: "50%", height: "300px" %>
  <%= scatter_chart @data_nuage_n,xtitle: "Nombre de commandes #{Date.today.year}", ytitle: "CA généré ht payé",width: "50%", height: "300px" %>
</div>
<hr>

<h3>CA généré 2024</h3>
<%= column_chart @prospects.group_by_day(:date_prospect).count %>
<h3>Status des prospects</h3>
<%= column_chart @prospects.group(:statut).count %>
