<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<%= link_to "Ajouter un prosect", new_prospect_path %>
<%= link_to "Voir tous les prospects", prospects_path %>
<%= link_to "voir les soins", admin_soins_path %>
<%= link_to "instituts", admin_instituts_path %>
<%= link_to "Les cours", tous_les_cours_path %>
<%= link_to "Créer un article de blog", new_blog_post_path %>
<%= link_to "All posts", all_posts_path %>
<%= link_to "Editer contenus de la home",edit_home_content_path %>
<%= link_to "Voir slides/slider", slider_homes_path %>

<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
