<div class="carousel" data-controller="carousel">
  <div class="carousel-control desktop">
    <button data-action="carousel#previous"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron carousel") %></button>
    <button data-action="carousel#next"><%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron carousel") %></button>
  </div>
  <div class="carousel-control mobile">
    <button data-action="carousel#prevmobile"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron carousel") %></button>
    <button data-action="carousel#nextmobile"><%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron carousel") %></button>
  </div>

  <div class="slides desktop">
    <% @photos_desktop.each_with_index do |photo, index| %>
      <div data-carousel-target="slide" data-index="<%= index %>" class="slide grid three">
        <% photo.each do |elmt|%>
          <div class="slide-card-content">
            <%= image_tag elmt,class:"slide-card-img" %>
            <div class="slide-card-desc">
            <h3>Soin 1</h3>
            <p>fnsmjkbebbgejr</p>
            <%= link_to "en savoir plus", "",class: "btn-rond"%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="slides mobile">
    <% @photos.each_with_index do |photo, index| %>
      <div data-carousel-target="slidemobile" data-index="<%= index %>" class="slide">
        <div class="slide-card-content">
            <%= image_tag photo,class:"slide-card-img" %>
            <div class="slide-card-desc">
            <h3>Soin 1</h3>
            <p>fnsmjkbebbgejr</p>
            <%= link_to "en savoir plus", "",class: "btn-rond"%>
            </div>
          </div>
      </div>
    <% end %>
  </div>


</div>
