
<div class="carousel" data-controller="carousel">
    <button data-action="carousel#previous" class="carousel-control left desktop"><%= image_tag("pictos/icon-nav-arrow-left.png", width:"15px", height:"30px") %></button>
    <button data-action="carousel#next" class="carousel-control right desktop"><%= image_tag("pictos/icon-nav-arrow-right.png", width:"15px", height:"30px")%></button>

    <button data-action="carousel#prevmobile" class="carousel-control left mobile"><%= image_tag("pictos/icon-nav-arrow-left.png",width:"15px", height:"30px")%></button>
    <button data-action="carousel#nextmobile" class="carousel-control right mobile"><%= image_tag("pictos/icon-nav-arrow-right.png", width:"15px", height:"30px")%></button>


  <div class="slides desktop">
    <% locals[:elements].each_slice(3).to_a.each_with_index do |element, index| %>
      <div data-carousel-target="slide" data-index="<%= index %>" class="slide grid three">
        <% element.each do |elmt|%>
          <div class="slide-card-content">
            <%= cl_image_tag elmt([:photo],gravity: "face"),class:"slide-card-img" %>
            <div class="slide-card-desc">
              <div class="slide-card-desc-info">
                <div>
                  <h3><%= elmt[:name] %></h3>
                  <p><%= elmt[:description] %></p>
                </div>
                <div class="slide-card-desc-cta">
                  <%= link_to "en savoir plus", "",class: "btn-rond"%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="slides mobile">
    <% locals[:elements].each_with_index do |element, index| %>
      <div data-carousel-target="slidemobile" data-index="<%= index %>" class="slide">
        <div class="slide-card-mobile-content">
          <div class="slide-card-mobile-image">
            <%= cl_image_tag (element[:photo],gravity: "face"),class:"" %>
          </div>
          <div class="slide-card-mobile-desc">
            <h3><%= element[:name] %></h3>
            <p><%= element[:description] %></p>
            <%= link_to "En savoir plus","", class:"btn-rond card" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
