<nav id="nav-crm">
  <div class="logo-nif"></div>
  <div class="menu">
    <ul>
        <li><%= link_to "Mes prospects", prospects_crm_index_path(current_commercial) %></li>
        <li><%= link_to "Mes clients", clients_crm_index_path(current_commercial)%></li>
        <li class="disable"><i class="fa-regular fa-envelope"></i>Mes messages</li>
        <li><%= link_to "Commandes",orders_path %></li>
        <li class="disable"><i class="fa-regular fa-calendar"></i>Mes rendez-vous</li>
        <li class="disable">FAQ</li>
        <li class="disable">Simulateur soins</li>
        <li class="disable">Prospection</li>
        <li><%= link_to "Statistiques", statistiques_crm_index_path(current_commercial) %></li>
    </ul>
    <li class="btn_disconnect"><%= button_to(
          "Se déconnecter",
          destroy_user_session_path,
          method: :delete
        ) %>
      </li>
  </div>
</nav>
