<div id="nav-menu-mobile2" data-controller="navbarmobile">

  <div class="mobile-message-black">
    <p>masque purifiant</p>
  </div>

  <nav class="mobile-nav-white primary">
    <span id="burger-anim" data-action="click->navbarmobile#toggleMenu">
      <div data-action="click->navbar#toggleBurger" class="plate plate5">

      <svg class="burger" version="1.1" height="100" width="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
        <path class="line line1" d="M 30,35 H 70 " />
        <path class="line line2" d="M 50,50 H 30 L 34,32" />
        <path class="line line3" d="M 50,50 H 70 L 66,68" />
        <path class="line line4" d="M 30,65 H 70 " />
      </svg>


      <svg class="x" version="1.1" height="100%" width="100%" viewBox="0 0 100 100">
        <path class="line" d="M 34,32 L 66,68" />
        <path class="line" d="M 66,32 L 34,68" />
      </svg>
      </div>
      <p class="menu-mobile">MENU</p>
    </span>
    <%= link_to "Espace Pro","", class:"btn-espace-pro" %>
  </nav>

  <div class="mobile-nav-white secondary">
    <%= link_to root_path do %>
        <% if params[:action] == "home"  %>
          <h1><%= image_tag "logo-nif-pro.svg", class: "logo-home", alt: "Nature is Future Pro | Dédié aux professionnels de la beauté" %></h1>
        <%else%>
          <%= image_tag "logo-nif-pro.svg", class: "logo-home", alt:"logo nature is future pro" %>
        <% end %>
      <% end %>
    <nav>
      <%= link_to "TROUVER SON INSTITUT", instituts_path %>
      <%= link_to "DEVENIR PARTENAIRE",devenir_partenaire_path %>
    </nav>
  </div>
</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="primarymenuMobile">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
      <ul class="">
        <li data-action="click->navbarmobile#voletSubmenu" data-index="1">VISAGE <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %></li>
        <li data-action="click->navbarmobile#voletSubmenu" data-index="2">CORPS <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %></li>
        <li data-action="click->navbarmobile#voletSubmenu" data-index="3">SOIN <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %></li>
        <li data-action="click->navbarmobile#voletSubmenu" data-index="4">LA MARQUE <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %></li>
        <li data-action="click->navbarmobile#voletSubmenu" data-index="5">FORMATION</li>
        <li data-action="click->navbarmobile#voletSubmenu" data-index="6">JOURNAL</li>
      </ul>
  </div>
  <%= render "/shared/navbar_footer" %>
</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="voletMenu">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
    <ul>
      <li data-action="click->navbarmobile#previousPanel" data-index="0" class="underline"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron") %> VISAGE</li>
      <li data-action="click->navbarmobile#toggleSubmenu">NOS PRODUITS VISAGE <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %>
        <ul class="submenu-items">
          <% @pdts_nav_visage.each do |pdt| %>
            <li><%= link_to pdt.name, product_path(pdt) %></li>
          <% end %>
          <li><%= link_to "Tous nos produits",cosmetique_category_path(category:"visage") %></li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">TYPES DE PRODUIT <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %>
        <ul class="submenu-items">
          <li><%= link_to "Crèmes", "" %></li>
          <li><%= link_to "Sérums", "" %></li>
          <li><%= link_to "Contour des yeux", "" %></li>
          <li><%= link_to "Masques", "" %></li>
          <li><%= link_to "Gommages", "" %></li>
          <li><%= link_to "Nettoyantes", "" %></li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">PRÉOCCUPATIONS <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %>
        <ul class="submenu-items">
          <li><%= link_to "Hydratation et nutrition", "" %></li>
          <li><%= link_to "Ride et fermeté", "" %></li>
          <li><%= link_to "Nettoyage et imperfection", "" %></li>
          <li><%= link_to "Sensibilité et tiraillement", "" %></li>
          <li><%= link_to "Éclat", "" %></li>
        </ul>
      </li>
    </ul>
  </div>

  <%= render "/shared/navbar_footer" %>

</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="voletMenu">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
    <ul>
      <li data-action="click->navbarmobile#previousPanel" data-index="0" class="underline"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron") %> CORPS</li>
      <li data-action="click->navbarmobile#toggleSubmenu">NOS PRODUITS CORPS <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %>
        <ul class="submenu-items">
          <% @pdts_nav_corps.each do |pdt| %>
            <li><%= link_to pdt.name, product_path(pdt) %></li>
          <% end %>
          <li><%= link_to "Tous nos produits",cosmetique_category_path(category:"corps") %></li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">TYPE DE PRODUIT <%= image_tag("pictos/chevron_droite.svg", class:"picto-chevron") %>
        <ul class="submenu-items">
          <li><%= link_to "Crèmes", "" %></li>
          <li><%= link_to "Sérums", "" %></li>
          <li><%= link_to "Huiles", "" %></li>
          <li><%= link_to "Masques", "" %></li>
          <li><%= link_to "Gommages", "" %></li>
          <li><%= link_to "Lotions", "" %></li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">PRÉOCCUPATIONS
        <ul class="submenu-items">
          <li><%= link_to "Hydratation et nutrition", "" %></li>
          <li><%= link_to "Minceur", "" %></li>
        </ul>
      </li>
    </ul>
  </div>
  <%= render "/shared/navbar_footer" %>

</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="voletMenu">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
    <ul>
      <li data-action="click->navbarmobile#previousPanel" data-index="0" class="underline"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron") %> SOINS</li>
      <li data-action="click->navbarmobile#toggleSubmenu">SOINS VISAGE
        <ul class="submenu-items">
          <% @soins_visage.each do |pdt| %>
            <li><%= link_to pdt.name, soin_path(pdt) %></li>
          <% end %>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">SOIN CORPS
        <ul class="submenu-items">
          <% @soins_corps.each do |pdt| %>
            <li><%= link_to pdt.name, soin_path(pdt) %></li>
          <% end %>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">MASSAGES
        <ul class="submenu-items">
          <% @soins_massages.each do |pdt| %>
            <li><%= link_to pdt.name, soin_path(pdt) %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to "TOUS NOS SOINS",soins_path %></li>
    </ul>
  </div>

  <%= render "/shared/navbar_footer" %>

</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="voletMenu">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
    <ul>
      <li data-action="click->navbarmobile#previousPanel" data-index="0" class="underline"><%= image_tag("pictos/chevron_gauche.svg", class:"picto-chevron") %> LA MARQUE</li>
      <li data-action="">Notre histoire</li>
      <li data-action="">Charte qualité </li>
      <li data-action="">Notre mission</li>
    </ul>
  </div>

  <%= render "/shared/navbar_footer" %>

</div>
<div class="mobile-full-main" data-controller="navbarmobile" data-navbar-target="voletMenu">
  <div class="mobile-full-contain">
    <div class="recherche-mobile"><h2>RECHERCHE</h2></div>
    <ul>
      <li data-action="click->navbarmobile#previousPanel" data-index="0"><%= link_to "FORMATION", formations_path %></li>
      <li data-action="click->navbarmobile#toggleSubmenu">TYPE DE PRODUIT 5 >
        <ul class="submenu-items">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">TYPE DE SOIN 5 >
        <ul class="submenu-items">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">TYPE DE BEAUTE >
        <ul class="submenu-items">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
        </ul>
      </li>

      <li data-action="click->navbarmobile#toggleSubmenu">TYPE DE JOINT >
        <ul class="submenu-items">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
        </ul>
      </li>

      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>11</li>
      <li>12</li>
      <li>11</li>
      <li>12</li>
    </ul>
  </div>

  <%= render "/shared/navbar_footer" %>

</div>
