<nav id="black-nav">
  <%= link_to "Trouver un institut partenaire", instituts_path %>
  <%= link_to "E-shop", "https://www.natureisfuture.fr/fr/" %>
</nav>
<nav id="white-nav">
<div>
  <%= image_tag "" %>
  <ul>
    <li><%= link_to "Devenir partenaire", "" %></li>
    <li><%= link_to "Espace pro", "" %></li>
  </ul>
</div>
</nav>
<nav id="main-nav" data-controller="navbar">
<ul>
  <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
    <%= link_to "PRODUITS", ""%>
    <!-- Nos gammes -->
    <ul class="dropdown" data-navbar-target="submenu">
      <p>Nos GAMMES</p>
      <p>Notre gamme de Visage</p>
      <li><%= link_to "##", "" %></li>
      <li><%= link_to "##", "" %></li>
      <li><%= link_to "##", "" %></li>
      <li><%= link_to "##", "" %></li>
      <li><%= link_to "##", "" %></li>
      <li><%= link_to "##", "" %></li>
    </ul>
    <!-- Types de produits -->
    <ul>
      <li><%= link_to "##", "" %></li>
    </ul>
    <!-- Besoins -->
    <ul>
      <li><%= link_to "##", "" %></li>
    </ul>
    <!-- Nos nouveautés -->
    <ul>
      <li><%= link_to "##", "" %></li>
    </ul>
    <!-- Fin du sub menu-->
  </li>

  <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
    <%= link_to "SOINS", ""%>
    <ul class="dropdown" data-navbar-target="submenu">
      <li><%= link_to "##", "" %></li>
    </ul>
  </li>
</ul>
</nav>
