<div id="desktop-nav" data-controller="fixed" class="fixed-nav">
<nav id="black-nav">
  <p>Découvrez le nouveau masque purifiant de notre gamme visage aux actifs de zinc et de concombre</p>
</nav>

  <nav id="white-nav" class="">
    <div>
      <%= link_to "Trouver son institut", instituts_path %>
    </div>
    <div>
      <%= link_to "Devenir partenaire", "" %>
      <%= link_to "Espace pro", espace_pro_index_path, class: "btn-espace-pro shadow" %>
    </div>
  </nav>
  <div data-controller="navbar">
  <nav id="main-nav" class="">
    <%= link_to root_path do %>
      <% if params[:action] == "home"  %>
        <h1><%= image_tag "logo-nif-pro.png", class: "logo-home", alt: "Nature is Future Pro | Dédié aux professionnels de la beauté" %></h1>
      <%else%>
        <%= image_tag "logo-nif-pro.png", class: "logo-home", alt:"logo nature is future pro" %>
      <% end %>
    <% end %>
    <ul class="nav-main-link">
      <div class="nav-left">
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "VISAGE", ""%>
          <!-- Nos gammes -->
          <div class="dropdown-nav" data-navbar-target="submenu">
            <div class="drop-test">
              <ul class="dropdown-list">
                <p class="menu-title">NOS PRODUITS VISAGE</p>
                <div style="columns: 2;">
                <li><%= link_to "Sérum anti-âge", "" %></li>
                <li><%= link_to "Crème anti-âge", "" %></li>
                <li><%= link_to "Crème hydratante", "" %></li>
                <li><%= link_to "Crème antioxydante", "" %></li>
                <li><%= link_to "Contour des yeux", "" %></li>
                <li><%= link_to "Gommage doux", "" %></li>
                <li><%= link_to "Masque-crème","" %></li>
                <li><%= link_to "Masque purifiant","" %></li>
                <li><%= link_to "Lotion nettoyante","" %></li>
                <li><%= link_to "Huile démaquillante","" %></li>
                <li><%= link_to "Crème de modelage","" %></li>
                <li><%= link_to "Tous nos produits",cosmetique_category_path(category:"visage") %></li>
                </div>
              </ul>
              <!-- Types de produits -->
              <ul class="dropdown-list">
                <p class="menu-title">TYPES DE PRODUIT</p>
                <li><%= link_to "Crèmes", "" %></li>
                <li><%= link_to "Sérums", "" %></li>
                <li><%= link_to "Contour des yeux", "" %></li>
                <li><%= link_to "Masques", "" %></li>
                <li><%= link_to "Gommages", "" %></li>
                <li><%= link_to "Nettoyantes", "" %></li>
              </ul>
              <!-- Besoins -->
              <ul class="dropdown-list">
                <p class="menu-title">PRÉOCCUPATIONS</p>
                <li><%= link_to "Hydratation et nutrition", "" %></li>
                <li><%= link_to "Ride et fermeté", "" %></li>
                <li><%= link_to "Nettoyage et imperfection", "" %></li>
                <li><%= link_to "Sensibilité et tiraillement", "" %></li>
                <li><%= link_to "Éclat", "" %></li>

              </ul>
              <!-- Nos nouveautés -->
              <ul class="dropdown-list last">
                <p class="menu-title">NOS NOUVEAUTÉS</p>
                <a href="">
                  <img src="https://www.natureisfuture.fr/1235-home_default/gommage-doux-100ml.jpg" widht="300">
                </a href="">
              </ul>
            </div>
            <!-- Fin du sub menu-->
          </div> <!-- Fin du .dropdown-nav -->
        </li>
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "CORPS", ""%>
          <!-- Nos gammes -->
          <div class="dropdown-nav" data-navbar-target="submenu">
            <div class="drop-test">
              <ul class="dropdown-list">
                <p class="menu-title">NOS PRODUITS CORPS</p>
                <li><%= link_to "Lait hydratant", "" %></li>
                <li><%= link_to "Huile fleurie", "" %></li>
                <li><%= link_to "Huile relaxante", "" %></li>
                <li><%= link_to "Huile tonifiante", "" %></li>
                <li><%= link_to "Huile neutre", "" %></li>
                <li><%= link_to "Gel minceur", "" %></li>
                <li><%= link_to "Gel minceur", "" %></li>
                <li><%= link_to "Tous nos produits",cosmetique_category_path(category:"corps") %></li>
              </ul>
              <!-- Types de produits -->
              <ul class="dropdown-list">
                <p class="menu-title">TYPE DE PRODUIT</p>
                <li><%= link_to "Crèmes", "" %></li>
                <li><%= link_to "Sérums", "" %></li>
                <li><%= link_to "Huiles", "" %></li>
                <li><%= link_to "Masques", "" %></li>
                <li><%= link_to "Gommages", "" %></li>
                <li><%= link_to "Lotions", "" %></li>
              </ul>
              <!-- Besoins -->
              <ul class="dropdown-list">
                <p class="menu-title">PRÉOCCUPATIONS</p>
                <li><%= link_to "Hydratation et nutrition", "" %></li>
                <li><%= link_to "Minceur", "" %></li>
              </ul>
            </div>
            <!-- Fin du sub menu-->
          </div> <!-- Fin du .dropdown-nav -->
        </li>
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "SOIN", ""%>
          <div class="dropdown-nav" data-navbar-target="submenu">
            <div class="drop-test">
              <ul class="dropdown-list">
                <p class="menu-title">SOIN VISAGE</p>
                <li><%= link_to "Soin anti-âge", "" %></li>
                <li><%= link_to "Soin détox", "" %></li>
                <li><%= link_to "Soin coup d'éclat", "" %></li>
                <li><%= link_to "Soin purifiant", "" %></li>
                <li><%= link_to "Soin contour des yeux", "" %></li>
              </ul>

              <ul class="dropdown-list">
                <p class="menu-title">SOIN CORPS</p>
                <li><%= link_to "Soin des mains", "" %></li>
                <li><%= link_to "Soin des pieds", "" %></li>
                <li><%= link_to "Soin buste et bras", "" %></li>
                <li><%= link_to "Soin purifiant dos", "" %></li>
                <li><%= link_to "Soin minceur et fermeté", "" %></li>
                <li><%= link_to "Enveloppement brûle-graisses", "" %></li>
              </ul>

              <ul class="dropdown-list">
                <p class="menu-title">MASSAGES</p>
                <li><%= link_to "Modelage tonifiant", "" %></li>
                <li><%= link_to "Modelage relaxant", "" %></li>
                <li><%= link_to "Modelage floral", "" %></li>
                <li><%= link_to "Modelage neutre", "" %></li>
                <p></p>
                <li><%= link_to "Tous nos soins",soins_path %></li>
              </ul>
            </div>
          </div>
        </li>

        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "LA MARQUE", ""%>
          <div class="dropdown-nav" data-navbar-target="submenu">
            <div class="drop-test">
              <ul class="dropdown-list">
                <li><%= link_to "Notre histoire", "" %></li>
                <li><%= link_to "Charte qualité", "" %></li>
                <li><%= link_to "Notre mission", "" %></li>
              </ul>
            </div>
          </div>
        </li>

      </div>
      <!-- Fin partie gauche -->
      <div class="nav-right">
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "FORMATION", formations_path %>
        </li>
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "JOURNAL", ""%>
        </li>
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "CONTACT", contact_path %>
        </li>
        <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
          <%= link_to "E-SHOP", "https://www.natureisfuture.fr/fr/"%>
        </li>
      </div>
      <!-- Fin partie droite -->
    </ul>
  </nav>
  <div class="menu-green" data-navbar-target="menugreen">
  </div>
  </div>
</div><!--Fin de fixed-nav -->
