<nav id="black-nav">
  <%= link_to "Trouver un institut partenaire", instituts_path %>
  <%= link_to "E-shop", "https://www.natureisfuture.fr/fr/" %>
</nav>
<nav id="white-nav">
<div>
  <%= image_tag "" %>
  <ul>
    <li><%= link_to "Devenir partenaire", "" %></li>
    <li><%= link_to "Espace pro", "" %></li>
  </ul>
</div>
</nav>
<div data-controller="navbar">
  <nav id="main-nav">
  <ul class="nav-main-link">
  <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
    <%= link_to "PRODUITS", ""%>
    <!-- Nos gammes -->
    <div class="dropdown-nav" data-navbar-target="submenu">
      <div class="drop-test">
        <ul class="dropdown-list">
          <p>Nos GAMMES</p>
          <p>Notre gamme de Visage</p>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <p>Notre gamme Corps</p>
        </ul>
        <!-- Types de produits -->
        <ul class="dropdown-list">
          <p>Types de  produits</p>
          <li><%= link_to "Crèmes", "" %></li>
          <li><%= link_to "Sérums", "" %></li>
          <li><%= link_to "Huiles", "" %></li>
          <li><%= link_to "Masques", "" %></li>
          <li><%= link_to "Gommages", "" %></li>
          <li><%= link_to "Lotions", "" %></li>
        </ul>
        <!-- Besoins -->
        <ul class="dropdown-list">
          <p>Besoins</p>
          <li><%= link_to "Pour une peau saine", "" %></li>
          <li><%= link_to "Pour une peau hydratée", "" %></li>
          <li><%= link_to "Pour une peau résistante et éclatante", "" %></li>
          <li><%= link_to "Pour un regard lumineux", "" %></li>
          <li><%= link_to "Pour une peau rajeunie et ravivée", "" %></li>
          <li><%= link_to "Pour une silhouette redessinée et un corps tonique", "" %></li>
        </ul>
        <!-- Nos nouveautés -->
        <ul class="dropdown-list">
          <p>Nos nouveautés</p>
          <li><%= link_to "Le masque purifiant", "" %></li>
        </ul>
      </div>
      <!-- Fin du sub menu-->
    </div> <!-- Fin du .dropdown-nav -->
  </li>
  <li class="nav-head" data-action="mouseover->navbar#mouseOver mouseout->navbar#mouseOut">
    <%= link_to "PRODUITS", ""%>
    <!-- Nos gammes -->
    <div class="dropdown-nav" data-navbar-target="submenu">
      <div class="drop-test">
        <ul class="dropdown-list">
          <p>Nos GAMMES</p>
          <p>Notre gamme de Visage</p>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <li><%= link_to "##", "" %></li>
          <p>Notre gamme Corps</p>
        </ul>
        <!-- Types de produits -->
        <ul class="dropdown-list">
          <p>Types de  produits</p>
          <li><%= link_to "Crèmes", "" %></li>
          <li><%= link_to "Sérums", "" %></li>
          <li><%= link_to "Huiles", "" %></li>
          <li><%= link_to "Masques", "" %></li>
          <li><%= link_to "Gommages", "" %></li>
          <li><%= link_to "Lotions", "" %></li>
        </ul>
        <!-- Besoins -->
        <ul class="dropdown-list">
          <p>Besoins</p>
          <li><%= link_to "Pour une peau saine", "" %></li>
          <li><%= link_to "Pour une peau hydratée", "" %></li>
          <li><%= link_to "Pour une peau résistante et éclatante", "" %></li>
          <li><%= link_to "Pour un regard lumineux", "" %></li>
          <li><%= link_to "Pour une peau rajeunie et ravivée", "" %></li>
          <li><%= link_to "Pour une silhouette redessinée et un corps tonique", "" %></li>
        </ul>
        <!-- Nos nouveautés -->
        <ul class="dropdown-list">
          <p>Nos nouveautés</p>
          <li><%= link_to "Le masque purifiant", "" %></li>
        </ul>
      </div>
      <!-- Fin du sub menu-->
    </div> <!-- Fin du .dropdown-nav -->
  </li>
  </ul>
  </nav>
  <div class="menu-green" data-navbar-target="menugreen">
  </div>
</div>
