<nav role="navigation" id="main-navbar">
  <ul>
    <li><%= link_to "Accueil", root_path %></li>
    <li><a href="#">Produits</a>
      <ul class="dropdown">
        <li><a href="#">Sub-1</a></li>
        <li><a href="#">Sub-2</a></li>
        <li><a href="#">Sub-3</a></li>
      </ul>
    </li>
    <li><%= link_to "Trouver un institut", "" %></li>
    <li><%= link_to "Ressources", "" %></li>
    <li><%= link_to "Espace pro", "" %></li>
    <li><%= link_to "Contact", "" %></li>
  </ul>
</nav>
