<div class="custom_form institut_show">
  <%= simple_form_for :contact, url: institut_send_path do |f| %>
    <%= f.input :lastname, label:"",placeholder:"Nom" %>
    <%= f.input :firstname, label:"",placeholder:"Prénom" %>
    <%= f.input :tel, label:"",placeholder:"Tel" %>
    <%= f.input :soin, label:"",placeholder:"Soins" %>
    <%= f.input :date, label:"",placeholder:"Date souhaitée" %>
    <%= f.input :message, label:"",placeholder:"Message" %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>
