<h1>Instituts#new</h1>
<p>Find me in app/views/instituts/new.html.erb</p>

<%= simple_form_for @institut do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :cp %>
  <%= f.input :city %>
  <%= f.input :country, selected: "FR" %>
  <%= f.input :description, as: :text, input_html: {rows: 10 } %>
  <%= f.hidden_field :customer_id, value: params[:customer]  %>
  <%= f.button :submit %>
<% end %>
