<article id="main_institut">
  <p class="message_institut">message institut</p>
  <section class="carrousel_institut">
    <p>carousel</p>
  </section>
  <h1 class="titre_institut">Institut :<%= @institut.name %></h1>
  <section class="desc_institut">
    <p>desc institut</p>
  </section>
  <section class="coord_institut">
    <%= link_to "Prendre rendez-vous" %>

    <div class="horaires_institut">

      <div class="accordions" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Horaires d'ouverture</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <%= render "horaires" %>
          </div>
        </div>
      </div>
      <div class="accordions" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Contacts</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <a href="tel:03" class="tel_institut">03...</a>
            <a href="" class="fb_institut"></a>
            <a href=""></a>
          </div>
        </div>
      </div>
      <div class="accordions" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Adresse</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <address>16 rue ...</address>
            <div>
              <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

            </div>
            <%= link_to "COMMENT S'Y RENDRE" %>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="soins_institut">
    <p>Liste soins</p>
  </section>
  <section class="contact_institut">
    <p>Contact institut</p>
  </section>
</article>
