<article id="main_institut" itemscope itemtype="https://schema.org/<%= @inst_structured_data_cat %>">
  <% if @institut.mess_promo != "" && @institut.mess_promo != nil%>
    <div class="message_institut popup" data-controller="popup" data-popup-target="content">
      <p><%= @institut.mess_promo %></p>
      <%= image_tag "pictos/croix-close.png",data: {action:"click->popup#close"}, class:"close" %>
    </div>
  <% end %>
  <section class="carousel_institut">
    <%= render "shared/carousel_show", locals: { photos: @institut.photos } %>
  </section>
  <h1 class="titre_institut"><%= @institut.name %></h1>
  <section class="institut_rating">
    <% if !@rating.nil?%>
    <p>
    <% if @rating != 5 %>
      <% @rating.floor.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
      <i class="fa-solid fa-star-half-stroke"></i>
    <% else %>
      <% 5.times do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
    <%end %>
    <%= @rating %> / 5
    </p>
    <% end %>
  </section>
  <section class="desc_institut">
    <h2>Présentation</h2>
    <%= sanitize @institut.description %>
    <div class="promo_institut">
      <% if @institut.promo_photo.attached? %>
          <%= image_tag @institut.promo_photo, crop: :fill %>
      <% end %>
    </div>
  </section>
  <section class="coord_institut">
    <% if @institut.rdv == "" || @institut.rdv.nil? %>
      <a href="#institut-contact-form" class="btn-rond black">Prendre rendez-vous</a>
    <% else %>
      <a href="<%= @institut.rdv%>" class="btn-rond black">Prendre rendez-vous</a>
    <% end %>

    <div class="horaires_institut">

      <div class="accordions institut" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Horaires d'ouverture</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <table>
              <tbody>
                <% @institut.horaires.each do |key,value|%>
                  <tr>
                    <td><%= key.upcase %></td>
                    <% if value.values.first(2).first == value.values.first(2).last %>
                      <td><%= value["am_1"].capitalize %></td>
                    <% else %>
                      <td><%= value["am_1"].capitalize %> - <%= value["am_2"].capitalize %></td>
                    <% end %>
                    <% if value.values.last(2).first == value.values.last(2).last %>
                      <td><%= value["pm_1"].capitalize %></td>
                    <% else %>
                      <td><%= value["pm_1"].capitalize %> - <%= value["pm_2"].capitalize %></td>
                    <% end %>
                  <tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="accordions institut" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Contacts</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <div class="institut_contact_pictos">
              <a href="tel:<%= Institut::TELS[@institut.country.to_sym] %><%= @institut.tel.gsub("0","") %>" class="tel_institut" itemprop="telephone"><%= image_tag "pictos/tel.png" %><%= @institut.tel %></a>
              <a href=<%= @institut.fb %> class="fb_institut"><%= image_tag "pictos/fb-logo.png" %></a>
              <a href=<%= @institut.ig %>><%= image_tag "pictos/instagram-logo.png" %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="accordions institut" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Adresse</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <address><%= "#{@institut.address}, #{@institut.cp} #{@institut.city}" %></address>
            <div>
              <div style="width: 100%; height: 250px;"
                  data-controller="map"
                  data-map-markers-value="<%= @marker.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

            </div>
            <a href="https://www.google.com/maps?daddr=<%= [@institut.latitude,@institut.longitude].join(",") %>" class="btn-rond">COMMENT S'Y RENDRE</a>
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="accordions institut soins_institut" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Soins proposés</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <% @soins.group_by(&:category).each do |soin| %>
            <h3>Soins <%= soin[0] %> proposés</h3>
            <ul>
            <% soin[1].each do |item| %>

              <li><h4 class="institut_soins_titre"><%= item.name%></h4> <span class="institut_soins_temps">à partir de <%= item.class.name == "Soin" ? @institut.carte.carte_soins.where(soin_id: item.id).first.estimated_time : @institut.carte.carte_soins.where(custom_soin_id: item.id).first.estimated_time %> min</span> <span class="institut_soins_prix"><%= item.class.name == "Soin" ? @institut.carte.carte_soins.where(soin_id: item.id).first.price_ttc : @institut.carte.carte_soins.where(custom_soin_id: item.id).first.price_ttc %><%= currency_symbol %></span> <span class="institut_soins_lien">en savoir plus</span></li>

            <% end %>
            </ul>
            <% end %>
          </div>
        </div>
  </section>
  <section class="accordions institut contact_institut" id="institut-contact-form" data-controller="accordion">
        <div class="accordion-action" data-action="click->accordion#toggleAccordion">
          <div><h2>Contact</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
          <div class="accordion-hidden" data-accordion-target="content">
            <%= render "contact" %>
          </div>
        </div>
  </section>

</article>
