<div class="table-responsive">
<table class="crm-tableau">
<% orders = locals[:orders] %>
  <thead>
  <tr>
    <th>
      <div>
        <span>ID</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Date de commande</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Nom</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Prénom</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Institut</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Montant HT</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Paiement</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Etat</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Ref. Prestashop</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
    <th>
      <div>
        <span>Options</span>
        <i class="fa-solid fa-filter"></i>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.custom_date %></td>
        <td><%= order.customer.lastname %></td>
        <td><%= order.customer.firstname %></td>
        <td>///</td>
        <td><%= order.amount_ht %> <%= currency_symbol %></td>
        <td><%= order.payment_mode %></td>
        <td><%= order.state %></td>
        <td><%= order.prestashop_reference %></td>
        <td>
        <%= link_to order_path(order) do %>
          <i class="fa-regular fa-eye"></i>
        <% end %>
        <%= link_to edit_order_path(order) do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
