<h1>Contactez-nous</h1>

<div class="custom_form" data-controller="contact">
  <%= simple_form_for :contact, {url: envoye_path, method: "get" } do |f| %>
    <div class="flex">
      <%= f.input :lastname, label:"",placeholder:"Nom*", input_html: { required: true } %>
      <%= f.input :firstname, label:"",placeholder:"Prénom*", input_html: { required: true } %>
    </div>
    <div class="flex">
      <%= f.input :email, label:"",placeholder:"Email*", input_html: { required: true } %>
      <%= f.input :tel, label:"",placeholder:"Téléphone*", input_html: { required: true } %>
    </div>
    <div>
      <%= f.input :objet, collection:["Demande d'informations","Un problème technique sur le site","Un problème commercial","Devenir partenaire","Autre"],input_html: {'data-action':'contact#objetSelect'},selected:1%>
    </div>
    <%= f.email_field :hidden_message, placeholder: 'Message', class: 'hidden-message' %>
    <div class="flex hidden-message" data-contact-target="hiddenField">
      <%= f.input :cp, label:"",placeholder:"Code postal*",required:false%>
      <%= f.input :ville, label:"",placeholder:"Ville*",required:false%>
    </div>
    <div data-contact-target="hiddenField" class="hidden-message">
      <%= f.input :address,label:"",placeholder:"Adresse*",required:false%>
    </div>
    <div class="flex hidden-message" data-contact-target="hiddenField">
      <%= f.input :societe, label:"",placeholder:"Société/Institut*",required:false%>
      <%= f.input :country, label:"",priority: [ "France"],required:false%>
    </div>
    <div>
      <%= f.input :message, label:"",placeholder:"Message", as: :text,:input_html => {:rows => 5},required:false %>
    </div>
    <div class="rgpd">
    <%= f.input :rgpd, as: :boolean,required: true , label:"J'accepte que mes coordonées soient collectées dans le cadre de ma demande" %>
    </div>
    <div class="form_btn">
      <%= f.submit "Envoyer", class: "btn-rond" %>
    </div>
  <% end %>
</div>
