<article id="partenaire">
  <nav class="">
    <ul>
      <a href=""><li>Expérience sensorielle</li></a>
      <a href=""><li>Des produits sains</li></a>
      <a href=""><li>Recherche scientifique</li></a>
      <a href=""><li>Une équipe qui mise sur vous</li></a>
      <a href="#form-partenaire"><li>Télécharger notre brochure</li></a>
    </ul>
  </nav>
  <section>
    <h1>Devenir partenaire</h1>
  </section>
<section class="columns">
  <div class="part left">
    <p>
      Vous êtes esthéticienne, manager de spa ou même en pleine création de votre institut de beauté ? Vous recherchez une marque de produits professionnels bio spécialement pensée pour les professionnels de la beauté qui vous accompagnera et vous fournira tous les outils nécessaires pour assurer le développement de votre établissement ?
      Nature is Future est la marque qu'il vous faut, créons ensemble un partenariat solide et ambitieux.
    </p>
    <div>
      <h2>Nous contacter</h2>
      <h3>Email</h3>
      <a href="">commercial@natureisfuture.fr</a>
      <h3>Service téléphonique</h3>
      <p>03.68.85.48.43</p>
      <h3>Adresse</h3>
      <p>LLPC<br>16 rue d'Ankara / Quai des Alpes<br>67000 Strasbourg<br>France</p>
    </div>
  </div>
  <div class="part right">
    <p>
      Vous avez des questions ou souhaitez nous faire part de votre projet ? Contactez nous dès maintenant, nous nous ferons un plaisir de vous répondre dans les plus brefs délais.
      <br><br>
      Vous avez un institut ou un spa et vous souhaitez en savoir plus sur notre gamme professionnelle ?
    </p>
    <ul>
      <li>Disposer de produits efficaces issus de la phytothérapie de pointe</li>
      <li>Proposer des produits sains, sûrs, bio et tendance pour vos clientes</li>
      <li>Une expérience sensorielle unique avec des produits conçus spécialement pour les instituts</li>
      <li>Bénéficier d'une expertise et de formations sur nos produits pour les appliquer au mieux</li>
      <li>Proposer une gamme de produits rentable sans minimum de commande</li>
    </ul>
    <a href="#form-partenaire">Télécharger notre plaquette</a>
  </div>
</section>

<section class="columns img_right">
  <div>
    <h2>Une expérience sensorielle et client unique</h2>
    <h3>Résultat, bien-être, évasion</h3>
    <p>n collaboration avec des expert(e)s de la beauté, nous avons conçu une <strong>gamme complète de soins professionnels aux résultats visibles</strong>.
    Nos laboratoires ont développé des formules <strong>inédites</strong> aux textures diverses pour assurer un moment de bien-être et d’évasion à vos client(e)s. Des parfums naturels légers et du linge de bain Nature is Future au toucher doux pour une immersion totale dans notre univers, des diagnostics de peau et des produits reventes pour maximiser les résultats de votre clientèle et leur assurer un suivi.</p>
  </div>
  <div class="col_img_part">
    <%= image_tag("partenaire/douche-spa.jpg")%>
  </div>
</section>
<section class="columns img_left">
  <div class="col_img_part">
    <%= image_tag("partenaire/team-partenaire.jpg")%>
  </div>
  <div>
  <h2>Bénéficier d'une équipe qui mise sur vous et vous accompagne</h2>
  <h3>Soutien, outils, développement</h3>
  <p>Notre structure à taille humaine nous permet d’être toujours au plus proche de vous. Notre équipe marketing ainsi que nos commerciales sont à l’écoute et mettent tout en œuvre afin de <strong>veiller au succès</strong> de nos partenariats et de vos établissements.</p>
  <p><strong>Formations et protocoles de soin</strong>, visite de nos laboratoires, conditions commerciales attractives, fidélisation client, technique de vente, merchandising ou encore soutien en matière de marketing et de communication, nous serons <strong>à vos côtés</strong> à travers toutes les étapes de votre développement.</p>
  </div>
</section>
<section class="columns img_right">
  <div>
  <h2>Disposer de produits aux textures ultra-techniques développés par des experts scientifiques</h2>
  <h3>Recherche, efficacité, innovation</h3>
  <p>Chez NiF, la recherche scientifique est l'<strong>ADN</strong> même de notre entreprise. Nous créons <strong>nos propres formules et nos propres actifs</strong> pour vous offrir le meilleur des plantes afin de répondre aux besoins de la peau par des actifs végétaux <strong>ciblés</strong> et <strong>performants</strong>.</p>
  <p>Des résultats visibles et une efficacité des actifs <strong>prouvée cliniquement</strong> afin que votre peau réapprenne à se défendre et à fonctionner de manière <strong>durable et intelligente</strong>.</p>
  </div>
  <div class="col_img_part">
    <%= image_tag("partenaire/texture-partenaire.jpg")%>
  </div>
</section>

<section class="columns img_left">
<div class="col_img_part">
  <%= image_tag("partenaire/marque-partenaire.jpg")%>
</div>
<div>
<h2>Représenter des produits sains, sûrs, bio et made in France</h2>
<h3>Naturellement performant</h3>
<p>Bien que tous nos produits soient <strong>certifiés BIO*</strong>, notre approche va plus loin qu’une simple certification.
Déjà dénués de substances controversées et nocives, nous bannissons également les ingrédients superflus qui n’apportent rien au produit et rendent la peau dépendante à des substances étrangères, il vaut mieux lui réapprendre à faire fonctionner ses propres mécanismes avec des molécules naturelles afin d’obtenir un résultat durable.</p>
<p>Tout cela en utilisant des plantes dont la culture est assurée par des partenaires locaux et dont les procédés sont irréprochables.</p>
<p class="min_text">*Cosmétique Ecologique et Biologique certifiée par Ecocert Greenlife selon le référentiel Ecocert disponible sur http://cosmetiques.ecocert.com ou COSMOS ORGANIC certifié par Ecocert Greenlife selon le référentiel COSMOS disponible sur https://COSMOS.ecocert.com</p>
</div>
</section>

<section class="columns img_right">
<div>
  <h3>Des produits de qualité reconnus</h3>
  <p>Les produits que nous proposons sont naturellement conformes pour les consommateurs. Leur qualité et leur efficacité sont reconnues par les derniers outils d'évaluation en cosmétique.</p>
  <h3>Tous nos soins visages professionnels jugés « Excellent » ou « bon » sur Yuka</h3>
  <p>L’ensemble de nos crèmes, sérums, lotions et autres gommages obtiennent d’excellentes notes sur l’application Yuka avec des soins du visage
jugés « excellents » ou « bons ».</p>
</div>
<div class="col_img_part">
  <%= image_tag("partenaire/yuka-nif.png")%>
</div>
</section>

<section class="columns img_left">
  <div class="col_img_part">
    <%= image_tag("partenaire/collaboration-marque.jpg")%>
  </div>
  <div>
    <h2>Rejoignez l'aventure de la co-création</h2>
    <h3>Partage, expertise, création</h3>
    <p>
    Nous croyons fermement que la beauté est un art qui nécessite une expertise approfondie et les connaissances de spécialistes de la beauté. C’est pourquoi, chez Nature si Future, nous avons fait le choix de la co-création pour faire avancer la beauté plus loin et plus vite.
    <br>
    Cette collaboration avec nos esthéticien(ne)s partenaires se traduit par des produits innovants conçus pour apporter des résultats visibles et une expérience sensorielle optimale. Chaque produit est le fruit d’un échange constant avec les esthéticien(ne)s qui partagent leurs connaissances et leur expertise du terrain.<br>
    En co-créant nos produits, nous aspirons à offrir une gamme de soins qui répond aux besoins diversifiés de notre clientèle. Pour qu'un petit bout de chacun d'entre vous réside en notre marque.
    </p>
  </div>
</section>
<section>
<h2>Notre gamme de produits dédiée à la revente</h2>
<h2>Mosaïque</h2>
<a href="">Télécharger notre plaquette institut</a>
</section>

<section>
  <h2>Notre gamme visage professionnelle</h2>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section>
  <h2>Notre gamme corps</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</section>

<div>
<h2>Ils nous font confiance</h2>
<p>Nature is Future, c’est un gage d’innovation, de sensorialité et de solidité. C'est pourquoi nous sommes fières d'être présent dans plus de 140 établissements partenaires à travers 5 pays différents.
</p>
</div>

<section>
  <p>
    Vous êtes esthéticienne, manager de spa ou même en pleine création d'institut ?<br>
    Vous recherchez une marque de produits professionnels bio spécialement pensée pour les professionnels de la beauté qui vous accompagnera et vous fournira tous les outils nécessaires pour assurer le développement de votre établissement ?
  </p>
</section>
<section class="partenaire-formulaire" id="form-partenaire">
  <h2>Télécharger notre plaquette d'information</h2>
  <div class="custom_form" data-controller="contact">
  <%= simple_form_for :contact_partenaire, {url: send_partenaire_path, method: "get" } do |f| %>
    <div class="flex">
      <%= f.input :lastname, label:"",placeholder:"Nom*", input_html: { required: true } %>
      <%= f.input :firstname, label:"",placeholder:"Prénom*", input_html: { required: true } %>
    </div>
    <div class="flex">
      <%= f.input :email, label:"",placeholder:"Email*", input_html: { required: true } %>
      <%= f.input :tel, label:"",placeholder:"Téléphone*", input_html: { required: true } %>
    </div>
    <div class="flex">
      <%= f.input :cp, label:"",placeholder:"Code postal*", input_html: { required: true } %>
      <%= f.input :ville, label:"",placeholder:"Ville*", input_html: { required: true } %>
    </div>
    <div class="">
      <%= f.input :institut, label:"",placeholder:"Nom de votre institut*", input_html: { required: true } %>
    </div>


    <div class="rgpd">
    <%= f.input :rgpd, as: :boolean,required: true , label:"J'accepte que mes coordonées soient collectées dans le cadre de ma demande" %>
    </div>
    <div class="form_btn">
      <%= f.submit "Je télécharge", class: "btn-rond" %>
    </div>
  <% end %>
</div>
</section>
</article>
