<article id="home_presentation">

  <section class="presentation inside marge_home">

        <h2><%= @textes["presentation_marque"]["titre"] %></h2>
        <div class="presentation_images">
          <%= image_tag "home/presentation_marque_home_1.jpg"%>
          <%= image_tag "home/presentation_marque_home_2.jpg"%>
        </div>
        <p><%= @textes["presentation_marque"]["texte"] %></p>
        <%= link_to "Je découvre la marque","",class:"btn-carre" %>

  </section>

  <section class="ecocert marge_home">
    <div class="inside">
       <h2>Ecocert</h2>
    </div>
  </section>

  <section class="home_presentation products produits marge_home">
    <h2 class="inside">Nos best-sellers <%= link_to "voir tout" %></h2>
    <div class="inside">
      <ul>
        <% @best_sellers.each do |pdt|%>
        <li>
          <div class="best_img">
            <%= image_tag pdt.photos[0] if !pdt.photos[0].nil? %>
          </div>
          <h3><%= pdt.name %></h3>
          <%= link_to "en savoir plus"%>
        </li>
        <% end %>
      </ul>
    </div>
  </section>


  <section class="charte marge_home padd_50">
    <div class="inside charte_bloc">
      <h2>Notre charte qualité <%= link_to "En savoir plus"%></h2>
      <div class="charte_elements">
        <div class="charte_image">
          <%= image_tag "home/charte_home.jpg" %>
        </div>
        <div class="charte_texte">
          <ul>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/charte-qualite.png"%>
              </div>
              <div class="text_charte">
                <h3>Des matières premières sourcées</h3>
                <p>Nous travaillons avec des producteurs locaux en privilégiant notre patrimoine et en étant  attentifs à la qualité de chaque ingrédient.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/fabrique-en-france.png"%>
              </div>
              <div class="text_charte">
                <h3>Fabrication française</h3>
                <p>Tous nos produits sont mis au point et fabriqués en France dans nos laboratoires.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/naturel.png"%>
              </div>
              <div class="text_charte">
                <h3>Nos actifs et nos formules</h3>
                <p>Nos actifs naturels sont soigneusement sélectionnés et étudiés afin de garantir des résultats et une efficacité vérifiée.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/phytotherapie-innovante-responsable.png"%>
              </div>
              <div class="text_charte">
                <h3>Un contrôle de bout en bout </h3>
                <p>De la formulation, à la production, nous avons le contrôle sur chacune des étapes qui nous mènent de la plante au produit.</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="avis marge_home">
    <div class="slides_grey">
      <div class="slideshow_avis">
        <ul class="list_avis">
          <% @reviews.each do |review| %>
            <li class="avis_item">
              <div class="content_avis">
                <div class="content_avis_photo">
                  <%= image_tag review[1]["photo"], width:75 %>
                </div>
                <div class="content_avis_review"><p>"<%= review[1]["review"] %>"</p></div>
                <div class="content_avis_author"><%= review[0]%></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <section class="formations marge_home padd_50">
    <h2 class="inside">NOS FORMATIONS</h2>
    <div class="inside flex_formation_home">
      <div class="formations_img">
        <%= image_tag "photo-formation-estheticienne.jpg"%>
      </div>
      <div class="formations_text">
        <h3>Des formations pour accompagner les professionnels de la beauté</h3>
        <p>Nature is future est une marque qui accompagne et s’engage à vous former en proposant des  cours et formations personnalisés et accessibles aux professionnels depuis leur espace pro.</p>
        <%= link_to "Je découvre !","",class:"btn-carre" %>
      </div>
    </div>
  </section>

  <section class="pictos marge_home inside">
    <div>
      <%= image_tag "pictos/charte-qualite.png"%>
      <%= image_tag "pictos/fabrique-en-france.png"%>
      <%= image_tag "pictos/naturel.png"%>
      <%= image_tag "pictos/phytotherapie-innovante-responsable.png"%>
    </div>
  </section>
  <section class="partenaires marge_home padd_50">
    <h2 class="inside">Nos Partenaires</h2>
    <ul class="inside grid_home_three">
      <% @instituts.each do |inst|%>
      <li>
        <div class="partenaires_photo">
          <%= image_tag inst.photos[0], width:100 %>
        </div>
        <div class="partenaires_text">
           <h3><%= inst.name %></h3>
           <p>(<%= inst.cp.first(2) %>)<%= inst.city %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
<!--
 <section class="articles_home inside marge_home">
    <h2>Nos derniers articles</h2>
      <div class="article_home_item">
        <img src="" alt="">
        <div class="article_home_text">
          <p>Text article</p>
        </div>
      </div>
      <div class="article_home_item">
        <img src="" alt="">
        <div class="article_home_text">
          <p>Text article</p>
        </div>
      </div>
      <div class="article_home_item">
        <img src="" alt="">
        <div class="article_home_text">
          <p>Text article</p>
        </div>
      </div>
  </section>
-->
  <section class="devenir_partenaire marge_home">
    <div class="inside">
      <p>Vous souhaitez devenir partenaire Nature is Future et proposer des soins avec des produits naturels, à base de plantes et certifiés BIO ?</p>
      <%= link_to "Devenir partenaire",devenir_partenaire_path, class:"btn-carre" %>
    </div>
  </section>



<section class="inside marge_home">
  <%= link_to "Espace pro", espace_pro_index_path %>
  <%= link_to "Admin", admin_index_path %>
  <%= link_to "CRM", crm_index_path %>
  <br>
  Catégories :
  <%= link_to "Catégorie Visage",  cosmetique_category_path(category:"visage") %>
  <%= link_to "Catégorie Corps",  cosmetique_category_path(category:"corps") %>
  <%= link_to "Catégorie Soins",  soins_path %>
  <br>
  <%= link_to "test catégorie soin", cat_bis_soins_path %>

</section>

</article>
