<article id="home_presentation">

  <section class="presentation inside">
    <div>
      <div class="presentation_texte">
        <h2>Présentation marque</h2>
        <h2><%= @textes["presentation_marque"]["titre"] %></h2>
        <p><%= @textes["presentation_marque"]["texte"] %></p>
      </div>
      <div class="presentation_images">

      </div>
    </div>
  </section>

  <section class="ecocert">
    <h2>Ecocert</h2>
  </section>

  <section class="home_presentation products produits">
    <h2 class="inside">Nos best-sellers <%= link_to "voir tout" %></h2>
    <div class="inside">
      <%= render "shared/carousel_home_pdts", locals:{elements:@best_sellers} %>
    </div>
  </section>

  <section class="charte">
    <div class="inside charte_bloc">
      <h2>Notre charte qualité <%= link_to "En savoir plus"%></h2>
      <div class="charte_elements">
        <div class="charte_image"></div>
        <div class="charte_texte">
          <ul>
            <li>
              <img src="" alt="">
              <div>
                <h3>Des matières premières sourcées</h3>
                <p>...</p>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>Des matières premières sourcées</h3>
                <p>...</p>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>Des matières premières sourcées</h3>
                <p>...</p>
              </div>
            </li>
            <li>
              <img src="" alt="">
              <div>
                <h3>Des matières premières sourcées</h3>
                <p>...</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="avis">
    <h2>Avis</h2>
    <p><%= @reviews %></p>
  </section>

  <section class="formations">
    <h2>Formation</h2>
  </section>

  <section class="pictos">
    <h2>Pictos</h2>
  </section>

  <section class="partenaires">
    <h2>Partenaires</h2>
  </section>

  <section class="articles inside">
    <h2>Articles</h2>
    <ul>
      <li><img src="" alt=""><p>Text article</p></li>
      <li><img src="" alt=""><p>Text article</p></li>
      <li><img src="" alt=""><p>Text article</p></li>
    </ul>
  </section>

  <section class="devenir_partenaire">
    <h2>Devenir partenaire</h2>
  </section>



<section class="inside">
<h1 class="titre-home">Nature is Future <span>pro</span></h1>
<p>..vbfdkbjkb</p>
<%= link_to "Espace pro", espace_pro_index_path %>
<%= link_to "Admin", admin_index_path %>
<%= link_to "CRM", crm_index_path %>

Catégories :
<%= link_to "Catégorie Visage",  cosmetique_category_path(category:"visage") %>
<%= link_to "Catégorie Corps",  cosmetique_category_path(category:"corps") %>
<%= link_to "Catégorie Soins",  soins_path %>

<p><%= t('hello') %></p>

</section>

</article>
