<article id="home_presentation">

  <section class="presentation inside marge_home">

        <h2><%= @textes["presentation_marque"]["titre"] %></h2>
        <div class="presentation_images">
          <%= image_tag "home/presentation_marque_home_1.jpg"%>
          <%= image_tag "home/presentation_marque_home_2.jpg"%>
        </div>
        <p><%= @textes["presentation_marque"]["texte"] %></p>
        <%= link_to "Je découvre la marque","",class:"btn-carre" %>

  </section>

  <section class="ecocert">
    <h2>Ecocert</h2>
  </section>

  <section class="home_presentation products produits marge_home">
    <h2 class="inside">Nos best-sellers <%= link_to "voir tout" %></h2>
    <div class="inside">
      <%= render "shared/carousel_home_pdts", locals:{elements:@best_sellers} %>
    </div>
  </section>


  <section class="charte marge_home">
    <div class="inside charte_bloc">
      <h2>Notre charte qualité <%= link_to "En savoir plus"%></h2>
      <div class="charte_elements">
        <div class="charte_image">
          <%= image_tag "home/charte_home.jpg" %>
        </div>
        <div class="charte_texte">
          <ul>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/charte-qualite.png"%>
              </div>
              <div class="text_charte">
                <h3>Des matières premières sourcées</h3>
                <p>Nous travaillons avec des producteurs locaux  en privilégiant notre patrimoine et en étant  attentifs à la qualité de chaque ingrédient.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/fabrique-en-france.png"%>
              </div>
              <div class="text_charte">
                <h3>Fabrication française</h3>
                <p>Tous nos produits sont mis au point  et fabriqués en France dans nos laboratoires.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/naturel.png"%>
              </div>
              <div class="text_charte">
                <h3>Nos actifs et nos formules</h3>
                <p>Nos actifs naturels sont soigneusement sélectionnés et étudiés afin de garantir des résultats et une efficacité vérifiée.</p>
              </div>
            </li>
            <li>
              <div class="img_charte">
                <%= image_tag "pictos/phytotherapie-innovante-responsable.png"%>
              </div>
              <div class="text_charte">
                <h3>Un contrôle de bout en bout </h3>
                <p>De la formulation, à la production, nous avons  le contrôle sur chacune des étapes qui nous mènent de la plante au produit.</p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="avis marge_home">
    <div class="slides_grey">
      <div class="slideshow_avis">
        <ul class="list_avis">
          <% @reviews.each do |review| %>
            <li class="avis_item">
              <div class="content_avis">
                <div class="content_avis_photo">
                  <%= image_tag review[1]["photo"], width:75 %>
                </div>
                <div class="content_avis_review"><p>"<%= review[1]["review"] %>"</p></div>
                <div class="content_avis_author"><%= review[0]%></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <section class="formations marge_home">
    <h2 class="inside">NOS FORMATIONS</h2>
    <div class="inside flex_formation_home">
      <div class="formations_img">
        <%= image_tag "photo-formation-estheticienne.jpg"%>
      </div>
      <div class="formations_text">
        <h3>Des formations pour accompagner les professionnels de la beauté</h3>
        <p>Nature is future est une marque qui accompagne et s’engage à vous former en proposant des  cours et formations personnalisés et accessibles aux professionnels depuis leur espace pro.</p>
        <%= link_to "Je découvre !","",class:"btn-carre" %>
      </div>
    </div>
  </section>

  <section class="pictos marge_home">
    <h2>Pictos</h2>
  </section>

  <section class="partenaires marge_home">
    <h2 class="inside">Partenaires</h2>
    <ul class="inside grid_home_three">
      <li>
        <img src="" alt="">
        <div class="partenaires_text">
           <h3>33</h3>
           <p></p>
        </div>
      </li>
      <li>
        <img src="" alt="">
        <div class="partenaires_text">
           <h3>11</h3>
           <p></p>
        </div>
      </li>
      <li>
        <img src="" alt="">
        <div class="partenaires_text">
           <h3>44</h3>
           <p></p>
        </div>
      </li>
    </ul>
  </section>

  <section class="articles inside marge_home">
    <h2>Articles</h2>
    <ul>
      <li><img src="" alt=""><p>Text article</p></li>
      <li><img src="" alt=""><p>Text article</p></li>
      <li><img src="" alt=""><p>Text article</p></li>
    </ul>
  </section>

  <section class="devenir_partenaire marge_home">
    <h2>Devenir partenaire</h2>
  </section>



<section class="inside marge_home">
<h1 class="titre-home">Nature is Future <span>pro</span></h1>
<p>..vbfdkbjkb</p>
<%= link_to "Espace pro", espace_pro_index_path %>
<%= link_to "Admin", admin_index_path %>
<%= link_to "CRM", crm_index_path %>

Catégories :
<%= link_to "Catégorie Visage",  cosmetique_category_path(category:"visage") %>
<%= link_to "Catégorie Corps",  cosmetique_category_path(category:"corps") %>
<%= link_to "Catégorie Soins",  soins_path %>
<br>
<%= link_to "test catégorie soin", cat_bis_soins_path %>

<p><%= t('hello') %></p>

</section>

</article>
