<h1>Nouveau dossier</h1>
<%= simple_form_for @folder do |f| %>
  <%= f.input :phototheque_espace_pro_id, as: :hidden, input_html: { value: @phototheque.id || "" } %>
  <%= f.input :name,label:"Nom du dossier" %>
  <%= f.input :category, collection:["Mediatheque","Documents"],selected:1,label:"Categorie de dossier" %>
  <%= f.input :public %>
  <%= f.button :submit %>
<% end %>
