<h1>SliderHomes#edit</h1>
<p>Find me in app/views/slider_homes/edit.html.erb</p>


<%= simple_form_for @slider do |f| %>
  <%= f.fields_for :slide_items do |d| %>
    <%= image_tag d.object.photo, width:300 %>
    <p><%= d.input :link, label: "Lien/url" %></p>
    <p><%= d.file_field :photo%></p>
  <% end %>
  <%= f.button :submit %>
<% end %>
