<ul>
  <% if !@slider.nil?%>
    <% @slider.slide_items.each do |slide| %>
      <li class="">
        <% if slide.photo.attached? %>
          <%= image_tag slide.photo, width:300 %>
        <% end %>
      <p><%= slide.link %></p>
      <%= link_to "Editer le slide", edit_slider_home_slide_item_path(@slider,slide)%>
      <%= link_to "Supprimer",
      slider_home_slide_item_path(@slider,slide),
      data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?"}
    %>
      </li>
    <% end %>
  <% end %>
</ul>
<% if !@slider.nil?%>
  <%= link_to "Nouvelle slide", new_slider_home_slide_item_path(@slider) %>
<% end %>
