<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body style="padding: 1em; font-family:'Inter';">
    <h1>Nouvelle soumission de formulaire</h1>

    <p>Nom :<%= params[:lastname] %></p>
    <p>Prénom :<%= params[:firstname] %></p>

    <p>Email :<%= params[:email] %></p>
    <p>Tel :<%= params[:tel] %></p>

    <p>Sujet :<%= params[:objet] %></p>

    <p>CP :<%= params[:cp] %></p>
    <p>Ville :<%= params[:ville] %></p>

    <p>Adresse :<%= params[:address] %></p>
    <p>Pays :<%= params[:country] %></p>

    <p>Societe :<%= params[:societe] %></p>

    <p>Message :<%= params[:message] %></p>

    <p>RGPD :<%= params[:rgpd] %></p>
  </body>
</html>
