Nouvelle soumission de formulaire

<p>Nom :<%= params[:lastname] %></p>
<p>Prénom :<%= params[:firstname] %></p>

<p>Email :<%= params[:email] %></p>
<p>Tel :<%= params[:tel] %></p>

<p>Sujet :<%= params[:objet] %></p>

<p>CP :<%= params[:cp] %></p>
<p>Ville :<%= params[:ville] %></p>

<p>Adresse :<%= params[:address] %></p>
<p>Pays :<%= params[:country] %></p>

<p>Societe :<%= params[:societe] %></p>

<p>Message :<%= params[:message] %></p>

<p>RGPD :<%= params[:rgpd] %></p>
