<h1>Page catégorie produits - Nom catégorie : <%= params["category"] %></h1>
<h2>Produits/soins de la page</h2>
<ul>

<section class="inside">
  <div class="photo">
  </div>
  <div>
    <h1>Nos produits visage</h1>
    <p>fnrejgnerjngjernkjernbkgjnb</p>
  </div>
</section>
<%= link_to "Filtres", cosmetique_filtres_products_path %>

<div class="inside">
  <aside>
    <%= simple_form_for :filtrage, url: cosmetique_filtres_products_path, method: :get do |f| %>
      <%= f.input :crème, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
      <%= f.input :sérum, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
      <%= f.input :visage, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
      <%= f.input :visage, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
      <%= f.hidden_field :category, value: @category %>
      <%= f.submit "Filtrer", class: "btn btn-primary" %>
    <% end %>

  </aside>
  <section>
    <%= render partial: "liste", locals: {products: @products} %>
  </section>
</div>
<hr>














<% @products.each do |pdt| %>
  <li><%= link_to pdt.name, product_path(pdt) %></li>
<% end %>
</ul>

<h2>Filtres Visage</h2>
<h3>Types de produits</h3>


Sérum
Contour des yeux
Masques
Gommages
Nettoyants

<h3>Besoins</h3>
Hydratation
Nettoyage
<h2 >Turbo Stream</h2>

<hr>
<div id="products-turbo">
<% @products.each do |pdt| %>
  <ul>
    <li><%= pdt.name %></li>
  </ul>
<% end %>
</div>
<hr>
<hr>
<ul>
  <li>
    <a href="#" data-turbo-frame="main">
      Profile
    </a>
  </li>
  <li>
    <a href="#" data-turbo-frame="main">
      Favorites
    </a>
  </li>
</ul>
<turbo-frame id="main"></turbo-frame>
<hr>


<%= turbo_frame_tag 'produits_liste' do %>
  <!-- Afficher la liste des produits ici -->
  <%= render partial: "liste", locals: { products: @products } %>
<% end %>
