<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<article id="product-main">
  <!-- Photo + Elements principaux-->
  <section id="product-first-element">
    <div class="product-photos">
      <div class="product-photo">
      </div>
      <div class="product-carroussel">
      </div>
    </div>

    <div class="product-informations">
      <h1 class="product-name"><%= @product.name %></h1>
      <p class="product-gamme">Gamme <%= @product.gamme %></p>
      <ul class="product-actions">
        <% @product.actions_product.each do |action| %>
          <li><p><%= action %></p></li>
        <% end %>
      </ul>
      <h2 class="product-description">Description</h2>
      <p class="pdt-desc"><%= @product.description %></p>
      <div class="product-labels">
        <ul class="grid five labels">
          <% @product.labels.each do |label| %>
              <li class="product-label"><%= label %></li>
          <% end %>
        </ul>
      </div>
      <!-- Peaux texture yuka utilisation -->
      <div class="micro-informations flex">
        <div>
          <div class="flex"><h2>Type de peau</h2>
            <p> : </p>
            <% @product.types_peau.each do |peau| %>
              <p><%= peau %></p>
            <% end %>
          </div>
          <div class="flex"><h2>Texture</h2>:<p><%= @product.texture %></p></div>
          <div class="flex"><h2>Utilisation</h2>:<p><%= @product.utilisation %></p></div>
          <div class="contenances">
            <h2>Contenances disponibles</h2>
            <ul class="flex">
              <li><%= @product.contenance_revente %> ML</li>
              <li><%= @product.contenance_cabine %> ML</li>
            </ul>
          </div>
        </div>
        <div>
          <p>YUKA : <%= @product.yuka_appreciation %></p>
          <p>AVIS<br>Nombre d'avis</p>
        </div>
      </div>
      <!-- Fin Peaux texture yuka utilisation -->
      <div class="product-cta">
        <p>BOUTONS</p>
      </div>
    </div>
  </section>
  <!-- Fin Photo + Elements principaux-->
  <section>
    <ul class="accordions" data-controller="accordion">
      <li data-action="click->accordion#toggleAccordion">
        <div><h2>Les + pdts</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
        <div class="accordion-hidden" data-accordion-target="content"><p>snmjkvbdkjbgkzqbvbbqezh</p></div>
      </li>
      <li data-action="click->accordion#toggleAccordion">
        <div><h2>Les conseils</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
        <div class="accordion-hidden" data-accordion-target="content"><p>snmjkvbdkjbgkzqbvbbqezh</p></div>
      </li>
      <li data-action="click->accordion#toggleAccordion">
        <div><h2>Gestuelle</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
        <div class="accordion-hidden" data-accordion-target="content"><p>snmjkvbdkjbgkzqbvbbqezh</p></div>
      </li>
      <li data-action="click->accordion#toggleAccordion">
        <div><h2>Ingrédients</h2> <%= image_tag("pictos/chevron_bas.svg", class:"picto-chevron") %></div>
        <div class="accordion-hidden" data-accordion-target="content"><p>snmjkvbdkjbgkzqbvbbqezh</p></div>
      </li>
    </ul>
  </section>
  <section class="product-last">
    <h2 class="center">LES ACTIFS PHARES</h2>
    <ul class="grid three actifs">
      <li>ddd</li>
      <li>ff</li>
      <li>gg</li>
    </ul>
  </section>
  <section class="product-last">
    <h2 class="center">NOS SOINS INCLUANT LE PRODUIT</h2>
    <ul class="grid three soins">
      <li>ddd</li>
      <li>ff</li>
      <li>gg</li>
    </ul>
  </section>
  <section class="product-last">
    <h2 class="center">PRODUITS COMPLÉMENTAIRES</h2>
    <ul class="grid three produits">
      <li>ddd</li>
      <li>ff</li>
      <li>gg</li>
    </ul>
  </section>
</article>
