<!DOCTYPE html>
<html>
  <head>
    <title>Espace Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="noindex">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= javascript_importmap_tags %>


  </head>

  <body>
    <%= render "shared/flashes" %>
    <div id="espace_pro" data-controller="espace-pro">
      <div id="espace_pro_nav" class="" data-espace-pro-target="mobilemenu">
        <div class="espace_pro_cartouche">
          <% if current_customer.photo.attached? %>
            <div class="avatar">
              <%= image_tag current_customer.photo, height: 100, width: 200, crop: :fill %>
            </div>
          <% else %>
            <%= image_tag "logo-nif-pro.png", class: "logo-home", alt:"logo nature is future pro" %>
          <% end %>
          <h2><%= current_customer.firstname%> <%= current_customer.lastname %></h2>
          <%= link_to "Modifier mon profil",edit_profile_espace_pro_path(current_customer) %>
        </div>
        <ul>
          <li class="nav_li"><%= link_to "Accueil",espace_pro_path(current_customer) %></li>
          <li>
            <h3>Mes établissements</h3>
              <ul class="liste_instituts">
                <% current_customer.instituts.each do |inst| %>
                  <li><%= link_to inst.name, institut_espace_pro_index_path(inst)%></li>
                <% end %>
              </ul>
          </li>

          <br>
          <li class="counter_rdv"><h3><%= link_to "Mes rendez-vous",rendez_vous_espace_pro_path %><span><%= current_customer.message_instituts.where(read:false).count %></span></h3></li>
          <li><h3 class="disable">Mon stock</h3></li>
          <li><h3 class="disable"><%= link_to "Mes commandes",commandes_espace_pro_path(current_customer)%></h3></li>
          <li><h3 class="disable"><%= link_to "Documents", phototheque_espace_pro_index_path() %></h3></li>
          <li><h3 class="disable"><%= link_to "Mes cours", cours_formations_espace_pro_path(current_customer) %></h3></li>
          <br>
          <li><h3 class="disable">FAQ</h3></li>
          <li><h3 class="disable">Contact</h3></li>
          <br>
          <li><i class="fa-regular fa-file"></i> Ordonnance beauté</li>
        </ul>

        <span>Mes avantages</span>
        <progress value='<%= current_customer.total_trimestre %>' max=<%= @last_palier %> title='<%= current_customer.total_trimestre %> €'></progress>
        <div style="font-size:0.7em;margin:0;">
          <p>-10% dès 600€ d'achat sur T-1</p>
          <p>-15% dès 1200€ d'achat sur T-1</p>
          <p>-25% dès 1800€ d'achat sur T-1</p>
        </div>

        <%= button_to(
        "Se déconnecter",
        destroy_user_session_path,
        method: :delete, class:"btn-custom"
      ) %>
      </div>

      <main>
      <i class="fa-solid fa-bars fa-2xl" data-action="click->espace-pro#mobile"></i>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
